openapi: 3.2.0
info:
  title: Chili Piper Distro API
  version: '1.0'
  description: 'Operations tagged distro across 2 of this provider''s published API definitions: chili-piper-distro-debugger-openapi.yaml, chili-piper-distro-router-configuration-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
tags:
- name: distro
paths:
  /v1/org/distro/logs:
    post:
      tags:
      - distro
      summary: List distro logs
      description: '[operation: distro-logs]


        READ-ONLY


        Returns paginated distro logs (record-level audit trail of router flow runs) for a workspace, with optional filtering.


        - workspaceId (req): workspace to query logs for; use distro-list-routers to find workspaceId


        - page (opt, default 0), pageSize (opt, default 10): pagination


        - body (req; send `{}` for no filtering): filter with optional fields:


        - userIds (opt): filter by assignee user IDs


        - status (opt): flow lifecycle outcome; one of: "NotTriggered" | "NotMatchedEntryRule" | "DelayInProgress" | "WorkingHours" | "SlaInProgress" | "NotRouted" | "Finished" | "SlaFinished" | "Error"


        - distributionMethod (opt): how the user was picked (a distribution-level decision, not a distro-level state); one of: "FromOwnershipArs" | "RoundRobinEvaluationSuccess" | "EvaluatedFromRoundRobinArs" | "FallbackTeam" | "FallbackUser" | "DuplicateMatchOwner" | "NoDistribution" | "NoUserAvailable" | "ClientError"


        - search (opt): text search


        - from (opt): start time (ISO8601 with zone, e.g. "2024-01-01T00:00:00Z")


        - to (opt): end time (ISO8601 with zone)


        →


        {results: [{log: {id, workspaceId, routerId, status, assignments: [{userId, distributionId?, method}], trigger?: {entityId, entityType, eventType}, createdAt, updatedAt}, router: {id, name, workspaceId}}], total, page, pageSize}


        see: distro-list-routers (find routers and their workspaceId)'
      operationId: distroLogs
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      - name: workspaceId
        in: query
        description: Id of the workspace
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        description: Filter criteria; body is required (all fields optional — send `{}` for no filtering).
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistroLogsFilter'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_DistroLogEntry'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize, Invalid value for: query parameter workspaceId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distro/logs/{logId}:
    get:
      tags:
      - distro
      summary: Get distro log evaluation trace
      description: '[operation: distro-log-get]


        READ-ONLY


        Returns the per-record evaluation trace for a single distro log — the in-app log drill-down that answers "why did this record route here / why didn''t it route".


        - logId (req): log id, as returned by distro-logs (log.id)


        - routerId (req): router the log belongs to, as returned by distro-logs (log.routerId)


        →


        {log: {id, workspaceId, routerId, status, assignments, trigger?, createdAt, updatedAt}, events: [{stage, status, trigger?, triggerValidation?, changeEvaluation?, entryRule?, route?, slaRules, enrichments, assignments, error?, createdAt, updatedAt}]}


        Note: stage is the internal processing-stage name of the event (e.g. "ActionsSuccessful", "RuleEvalFailedV2"); entryRule, route.rules and slaRules entries are rule evaluations: {ruleId?, ruleName?, matched, logic?, conditions: [{index, conditionId?, kind, field?, recordId?, resolvedValue?, operator?, expectedValue?, expectedField?, matched, owners, error?}]}.


        Note: each condition shows the data-source field as source.object.field with the rule-builder source code (e.g. "SF.Lead.Email" for Salesforce), the resolved record id and value, the expected value(s) and whether it matched; logic combines condition indexes, e.g. "(1 and 2) or 3". Enrichment steps list per-field existing vs enriched values; route.matchers and route.duplicateMatches cover path matching and duplicate-match ownership.


        see: distro-logs (list logs to obtain logId and routerId)'
      operationId: distroLogGet
      parameters:
      - name: logId
        in: path
        description: Log id, as returned by the distro logs list endpoint.
        required: true
        schema:
          type: string
      - name: routerId
        in: query
        description: Router the log belongs to, as returned by the distro logs list endpoint.
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroLogDetail'
        '400':
          description: 'Invalid value for: query parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distro/routers/list:
    post:
      tags:
      - distro
      summary: Lists all distro routers
      description: '[operation: distro-list-routers]


        READ-ONLY


        Browse every Distro router to find routerIds, status and triggers.


        Browses every Distro router in the org to discover routerIds, activation status, and triggers. A Distro router routes CRM records (leads) to users via distributions, driven by a trigger.


        →


        {routers: [{id, name, status, trigger: {objectType, eventTypes: [{type, ...}], evaluation, delay}}]}


        Note: status is the router''s activation state — one of {type:"Active"} | {type:"Inactive"} | {type:"Activating"} | {type:"Deactivating"} | {type:"Error", message}. A router created via the API is Inactive until distro-router-activate is called.


        Note: when an entry of trigger.eventTypes has type=Scheduled it carries schedulerId — that is the resourceSchedulerId expected by resource-scheduler-run.


        see: resource-scheduler-run (run a scheduled router on demand using schedulerId from a Scheduled trigger), distro-router-activate / distro-router-deactivate (toggle a router''s status)'
      operationId: distroListRouters
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRoutersListResponse'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distro/routers/{routerId}:
    get:
      tags:
      - distro
      summary: Get distro router
      description: '[operation: distro-router-get]


        READ-ONLY


        Fetch one Distro router''s identity, activation status and routing summary.


        Fetches one Distro router: its identity, activation status, and a lossy per-row summary of its lead-routing. Call this before distro-router-update to read back the current routing (update overlays your changes onto it — matching rows by ruleId — and preserves advanced config it can''t show you) and to check status. (Implemented by filtering the router list — there is no internal get-by-id endpoint.)


        →


        {id, workspaceId, name?, description?, status, routing: {known, representable, rows: [{ruleId?, outcome}], catchAll?: outcome, routingSteps: [routingStep]}}

        status (one of): {type: "Active"} | {type: "Inactive"} | {type: "Activating"} | {type: "Deactivating"} | {type: "Error", message}

        outcome (one of): {type: "Route", distributionId?, actions: [action]} | {type: "Unrepresentable", kind}

        action (one of): {type: "ReassignRecord"} | {type: "UpdateOwnership", respectWorkingHours?, sendSlackNotification?, sendEmailNotification?, matchBy?} | {type: "UpdateField", field, value?, objectType?} | {type: "UpdateFieldDynamic", field, value: dynamicValue, objectType?} | {type: "SendSlackToAssignee"} | {type: "SendEmailReminderToAssignee"}

        dynamicValue (one of): {type: "RelativeDate", unit: "Day"|"Week"|"Month"|"Quarter"|"Year", offset?, timeZone?} | {type: "TemplateText", text} | {type: "VariableField", variableId, field, relation?}

        routingStep (one of): {type: "Enrichment", id?, fieldMappings: [{variableId, field, waterfallId, overwriteExisting?, relation?}]} | {type: "SpamCheck", id?, salesforceWrite: {type: "Off"} | {type: "Enabled", scoreField?, otherFields: [{objectType, field, value?}]}} | {type: "Unrepresentable", kind}


        Note: a Route outcome carries the distribution (who) and the CRM actions performed on the chosen assignee (what); it round-trips into distro-router-update. Unrepresentable rows use app-only features (SLAs, matchers, non-round-robin distributions, app-only actions) and carry a short kind, not the detail — but an update still edits them safely: the overlay changes only the distribution + actions you send for a matched ruleId and leaves that advanced config untouched


        Note: routingSteps are the pre-distribution steps (enrichment, spam-check) the router runs before the rows; they round-trip into distro-router-update. A routing step Edge cannot model reads back as {type:"Unrepresentable", kind}


        Note: routing.representable indicates only whether this lossy summary round-trips EXACTLY (every row, the catch-all AND every routing step representable); it is advisory — an update is accepted either way, because the overlay preserves advanced config rather than replacing it


        Note: status is the router''s activation state; a router created via the API is Inactive until distro-router-activate is called, and must be Inactive to be deleted


        see: distro-list-routers (browse to find a routerId), distro-router-update (overlay routing), distro-router-activate / distro-router-deactivate (toggle status)'
      operationId: distroRouterGet
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.read
    put:
      tags:
      - distro
      summary: Update distro router
      description: '[operation: distro-router-update]


        MUTATING — IDEMPOTENT


        Edit a Distro router and republish it, preserving activation.'
      operationId: distroRouterUpdate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistroRouterUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.modify
    delete:
      tags:
      - distro
      summary: Remove distro router
      description: '[operation: distro-router-delete]


        MUTATING — DESTRUCTIVE


        Permanently delete a Distro router.


        Permanently deletes a Distro router. The router must be INACTIVE first — deactivate it via distro-router-deactivate and wait until distro-router-get shows Inactive before deleting.


        ⚠ REJECTED (409) when the router is still active (or mid-transition) — deactivate it first via distro-router-deactivate, then delete once distro-router-get shows status inactive


        ⚠ irreversible via API; any triggers or links pointing at this router stop working


        see: distro-router-deactivate (deactivate before deleting), distro-list-routers or distro-router-get (confirm the id and status before deleting)'
      operationId: distroRouterDelete
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.remove
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distro/routers:
    post:
      tags:
      - distro
      summary: Create distro router
      description: '[operation: distro-router-create]


        MUTATING


        Create and publish a Distro router, left inactive until activated.'
      operationId: distroRouterCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistroRouterCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.create
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distro/routers/{routerId}/activate:
    post:
      tags:
      - distro
      summary: Activate distro router
      description: '[operation: distro-router-activate]


        MUTATING — IDEMPOTENT


        Turn a Distro router on so it starts routing records.


        Turns a Distro router on (inactive → active) so it starts routing records. This is the step that makes a distro-router-create''d router (published but INACTIVE) live. Idempotent — activating an already-active router is a no-op.


        →


        {id, workspaceId, name?, description?, status, routing: {known, representable, rows, catchAll?, routingSteps}}


        Note: status is one of {type:"Active"} | {type:"Inactive"} | {type:"Activating"} | {type:"Deactivating"} | {type:"Error", message}; activation completes asynchronously, so status may read Activating until the backend settles it to Active


        ⚠ activation is REJECTED (422) if the backend validation fails (e.g. the trigger object type is not enabled for the workspace) — the router stays inactive; fix the cause and retry


        see: distro-router-create (creates a router inactive), distro-router-deactivate (turn it off), distro-router-get (check status)'
      operationId: distroRouterActivate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.modify
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distro/routers/{routerId}/deactivate:
    post:
      tags:
      - distro
      summary: Deactivate distro router
      description: '[operation: distro-router-deactivate]


        MUTATING — IDEMPOTENT


        Turn a Distro router off so it stops routing records.


        Turns a Distro router off (active → inactive) so it stops routing records. Also the prerequisite for deletion: an active router cannot be deleted, so deactivate and wait for Inactive before distro-router-delete. Idempotent — deactivating an already-inactive router is a no-op. Set force=true to deactivate even when the router''s revision is stale.


        →


        {id, workspaceId, name?, description?, status, routing: {known, representable, rows, catchAll?, routingSteps}}


        Note: deactivation completes asynchronously, so status typically reads {type:"Deactivating"} on return and settles to {type:"Inactive"} shortly after — poll distro-router-get until Inactive before calling distro-router-delete


        see: distro-router-activate (turn it back on), distro-router-delete (delete once inactive), distro-router-get (check status)'
      operationId: distroRouterDeactivate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: force
        in: query
        description: 'Force deactivation even if the router''s revision is stale (default: false).'
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistroRouterView'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: query parameter force'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distro.modify
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
components:
  schemas:
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    DistributionMethod:
      title: DistributionMethod
      type: string
      enum:
      - FromOwnershipArs
      - RoundRobinEvaluationSuccess
      - EvaluatedFromRoundRobinArs
      - FallbackTeam
      - FallbackUser
      - DuplicateMatchOwner
      - NoDistribution
      - NoUserAvailable
      - ClientError
    DistroLogRuleEvaluation:
      title: DistroLogRuleEvaluation
      type: object
      required:
      - matched
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        ruleName:
          type: string
        matched:
          type: boolean
        logic:
          type: string
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogConditionEvaluation'
    DistroLogConditionKind:
      title: DistroLogConditionKind
      type: string
      enum:
      - Comparison
      - FieldComparison
      - Ownership
      - FuzzyOwnership
      - Existence
      - AlwaysTrue
    DistroRouterSummary:
      title: DistroRouterSummary
      type: object
      required:
      - id
      - name
      - workspaceId
      properties:
        id:
          $ref: '#/components/schemas/RouterId'
        name:
          type: string
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
    DistroLogRouteEvaluation:
      title: DistroLogRouteEvaluation
      type: object
      properties:
        routeId:
          type: string
        ruleName:
          type: string
        matchers:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogMatcherEvaluation'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogRuleEvaluation'
        duplicateMatches:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogDuplicateMatch'
    DistroLogError:
      title: DistroLogError
      type: object
      required:
      - errorType
      - message
      - errorCode
      properties:
        errorType:
          type: string
        message:
          type: string
        errorCode:
          type: string
    DistroLogMatcherKind:
      title: DistroLogMatcherKind
      type: string
      enum:
      - Relation
      - DuplicateMatch
      - CustomMatchedObject
    DistroLogMatcherEvaluation:
      title: DistroLogMatcherEvaluation
      type: object
      required:
      - kind
      - matched
      properties:
        routeId:
          type: string
        kind:
          $ref: '#/components/schemas/DistroLogMatcherKind'
        objectType:
          type: string
        exists:
          type: boolean
        matchToAccountOwner:
          type: boolean
        matched:
          type: boolean
        recordId:
          type: string
    DistroLogEntry:
      title: DistroLogEntry
      type: object
      required:
      - log
      - router
      properties:
        log:
          $ref: '#/components/schemas/DistroLog'
        router:
          $ref: '#/components/schemas/DistroRouterSummary'
    DistroLogStatus:
      title: DistroLogStatus
      type: string
      enum:
      - NotTriggered
      - NotMatchedEntryRule
      - DelayInProgress
      - WorkingHours
      - SlaInProgress
      - NotRouted
      - Finished
      - SlaFinished
      - Error
    DistroLogTriggerEventType:
      title: DistroLogTriggerEventType
      type: string
      enum:
      - Created
      - Updated
      - Signaled
    DistroLogTrigger:
      title: DistroLogTrigger
      type: object
      required:
      - entityId
      - entityType
      - eventType
      properties:
        entityId:
          type: string
        entityType:
          type: string
        eventType:
          $ref: '#/components/schemas/DistroLogTriggerEventType'
    DistroLog:
      title: DistroLog
      type: object
      required:
      - id
      - workspaceId
      - routerId
      - status
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        routerId:
          $ref: '#/components/schemas/RouterId'
        status:
          $ref: '#/components/schemas/DistroLogStatus'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogAssignment'
        trigger:
          $ref: '#/components/schemas/DistroLogTrigger'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DistroLogDuplicateMatch:
      title: DistroLogDuplicateMatch
      type: object
      required:
      - ownerId
      properties:
        routeId:
          type: string
        objectType:
          type: string
        objectId:
          type: string
        ownerId:
          $ref: '#/components/schemas/UserId'
        ownerEmail:
          type: string
          pattern: .+@.+
    DistroLogEnrichmentField:
      title: DistroLogEnrichmentField
      type: object
      required:
      - field
      - overwriteEnabled
      - overwriteExisting
      properties:
        field:
          type: string
        provider:
          type: string
        existingValue: {}
        enrichedValue: {}
        overwriteEnabled:
          type: boolean
        overwriteExisting:
          type: boolean
    RouterId:
      title: RouterId
      examples:
      - c5d6e7f8-a9b0-4c1d-ae2f-3a4b5c6d7e8f
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_DistroLogEntry:
      title: PaginatedResult_DistroLogEntry
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEntry'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    DistroLogConditionEvaluation:
      title: DistroLogConditionEvaluation
      type: object
      required:
      - index
      - kind
      - matched
      properties:
        index:
          type: integer
          format: int32
        conditionId:
          type: string
        kind:
          $ref: '#/components/schemas/DistroLogConditionKind'
        field:
          type: string
        recordId:
          type: string
        resolvedValue: {}
        operator:
          type: string
        expectedValue: {}
        expectedField:
          type: string
        matched:
          type: boolean
        owners:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEvaluatedOwner'
        error:
          type: string
    DistroLogAssignment:
      title: DistroLogAssignment
      type: object
      required:
      - userId
      - method
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        distributionId:
          type: string
          pattern: '[^\s\\/]+'
        method:
          $ref: '#/components/schemas/DistributionMethod'
    DistroLogEvaluatedOwner:
      title: DistroLogEvaluatedOwner
      type: object
      properties:
        userId:
          type: string
          pattern: '[^\s\\/]+'
        email:
          type: string
          pattern: .+@.+
    DistroLogDetail:
      title: DistroLogDetail
      type: object
      required:
      - log
      properties:
        log:
          $ref: '#/components/schemas/DistroLog'
        events:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEventDetail'
    DistroLogsFilter:
      title: DistroLogsFilter
      type: object
      properties:
        userIds:
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        status:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogStatus'
        distributionMethod:
          type: array
          items:
            $ref: '#/components/schemas/DistributionMethod'
        search:
          type: string
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
    DistroLogEnrichmentStep:
      title: DistroLogEnrichmentStep
      type: object
      required:
      - stepId
      properties:
        stepId:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEnrichmentField'
        errors:
          type: array
          items:
            type: string
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    DistroLogEventDetail:
      title: DistroLogEventDetail
      type: object
      required:
      - stage
      - status
      - createdAt
      - updatedAt
      properties:
        stage:
          type: string
        status:
          $ref: '#/components/schemas/DistroLogStatus'
        trigger:
          $ref: '#/components/schemas/DistroLogTrigger'
        triggerValidation:
          type: string
        changeEvaluation:
          type: string
        entryRule:
          $ref: '#/components/schemas/DistroLogRuleEvaluation'
        route:
          $ref: '#/components/schemas/DistroLogRouteEvaluation'
        slaRules:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogRuleEvaluation'
        enrichments:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogEnrichmentStep'
        assignments:
          type: array
          items:
            $ref: '#/components/schemas/DistroLogAssignment'
        error:
          $ref: '#/components/schemas/DistroLogError'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    DistroSpamSalesforceWrite:
      title: DistroSpamSalesforceWrite
      oneOf:
      - $ref: '#/components/schemas/DistroSpamSalesforceWrite_Enabled'
      - $ref: '#/components/schemas/DistroSpamSalesforceWrite_Off'
      discriminator:
        propertyName: type
        mapping:
          Enabled: '#/components/schemas/DistroSpamSalesforceWrite_Enabled'
          'Off': '#/components/schemas/DistroSpamSalesforceWrite_Off'
    DistroRoutingRowSummary:
      title: DistroRoutingRowSummary
      type: object
      required:
      - outcome
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        outcome:
          $ref: '#/components/schemas/DistroRoutingOutcome'
    DistroSimpleObjectType:
      title: DistroSimpleObjectType
      oneOf:
      - $ref: '#/components/schemas/DistroSimpleObjectType_Account'
      - $ref: '#/components/schemas/DistroSimpleObjectType_AccountTeamMember'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Case'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Contact'
      - $ref: '#/components/schemas/DistroSimpleObjectType_CustomObject'
      - $ref: '#/components/schemas/DistroSimpleObjectType_DuplicateContact'
      - $ref: '#/components/schemas/DistroSimpleObjectType_DuplicateLead'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Lead'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Opportunity'
      - $ref: '#/components/schemas/DistroSimpleObjectType_OpportunityTeamMember'
      - $ref: '#/components/schemas/DistroSimpleObjectType_Task'
      discriminator:
        propertyName: type
        mapping:
          Account: '#/components/schemas/DistroSimpleObjectType_Account'
          AccountTeamMember: '#/components/schemas/DistroSimpleObjectType_AccountTeamMember'
          Case: '#/components/schemas/DistroSimpleObjectType_Case'
          Contact: '#/components/schemas/DistroSimpleObjectType_Contact'
          CustomObject: '#/components/schemas/DistroSimpleObjectType_CustomObject'
          DuplicateContact: '#/components/schemas/DistroSimpleObjectType_DuplicateContact'
          DuplicateLead: '#/components/schemas/DistroSimpleObjectType_DuplicateLead'
          Lead: '#/components/schemas/DistroSimpleObjectType_Lead'
          Opportunity: '#/components/schemas/DistroSimpleObjectType_Opportunity'
          OpportunityTeamMember: '#/components/schemas/DistroSimpleObjectType_OpportunityTeamMember'
          Task: '#/components/schemas/DistroSimpleObjectType_Task'
    DistroFieldUpdateExpression_FieldUpdateOr:
      title: DistroFieldUpdateExpression_FieldUpdateOr
      type: object
      required:
      - expressions
      - type
      properties:
        expressions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: FieldUpdateOr
    DistroSpamSalesforceWrite_Off:
      title: DistroSpamSalesforceWrite_Off
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: 'Off'
    DistroRoutingOutcome_Unrepresentable:
      title: DistroRoutingOutcome_Unrepresentable
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Unrepresentable
    DistroDynamicFieldValue_RelativeDate:
      title: DistroDynamicFieldValue_RelativeDate
      type: object
      required:
      - unit
      - offset
      - type
      properties:
        unit:
          $ref: '#/components/schemas/DistroRelativeDateUnit'
        offset:
          type: integer
          format: int64
        timeZone:
          type: string
        type:
          type: string
          const: RelativeDate
    DistroSimpleObjectType_Task:
      title: DistroSimpleObjectType_Task
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Task
    DistroRoutingSummary:
      title: DistroRoutingSummary
      type: object
      required:
      - known
      - representable
      properties:
        known:
          type: boolean
        representable:
          type: boolean
        rows:
          type: array
          items:
            $ref: '#/components/schemas/DistroRoutingRowSummary'
        catchAll:
          $ref: '#/components/schemas/DistroRoutingOutcome'
        routingSteps:
          type: array
          items:
            $ref: '#/components/schemas/DistroRoutingStep'
    DistroRoutingStep:
      title: DistroRoutingStep
      oneOf:
      - $ref: '#/components/schemas/DistroRoutingStep_Enrichment'
      - $ref: '#/components/schemas/DistroRoutingStep_SpamCheck'
      - $ref: '#/components/schemas/DistroRoutingStep_Unrepresentable'
      discriminator:
        propertyName: type
        mapping:
          Enrichment: '#/components/schemas/DistroRoutingStep_Enrichment'
          SpamCheck: '#/components/schemas/DistroRoutingStep_SpamCheck'
          Unrepresentable: '#/components/schemas/DistroRoutingStep_Unrepresentable'
    DistroRoutersListResponse:
      title: DistroRoutersListResponse
      type: object
      properties:
        routers:
          type: array
          items:
            $ref: '#/components/schemas/DistroRouter'
    DistroTriggerDelay_BeforeRecordEval:
      title: DistroTriggerDelay_BeforeRecordEval
      type: object
      required:
      - duration
      - type
      properties:
        duration:
          type: string
        type:
          type: string
          const: BeforeRecordEval
    DistroSimpleObjectType_OpportunityTeamMember:
      title: DistroSimpleObjectType_OpportunityTeamMember
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: OpportunityTeamMember
    DistroSimpleObjectType_CustomObject:
      title: DistroSimpleObjectType_CustomObject
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: CustomObject
    DistroTriggerEventType_Scheduled:
      title: DistroTriggerEventType_Scheduled
      type: object
      required:
      - schedulerId
      - type
      properties:
        schedulerId:
          $ref: '#/components/schemas/ResourceSchedulerId'
        type:
          type: string
          const: Scheduled
    DistroSimpleObjectType_Account:
      title: DistroSimpleObjectType_Account
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Account
    DistroRelativeDateUnit:
      title: DistroRelativeDateUnit
      oneOf:
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Day'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Month'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Quarter'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Week'
      - $ref: '#/components/schemas/DistroRelativeDateUnit_Year'
      discriminator:
        propertyName: type
        mapping:
          Day: '#/components/schemas/DistroRelativeDateUnit_Day'
          Month: '#/components/schemas/DistroRelativeDateUnit_Month'
          Quarter: '#/components/schemas/DistroRelativeDateUnit_Quarter'
          Week: '#/components/schemas/DistroRelativeDateUnit_Week'
          Year: '#/components/schemas/DistroRelativeDateUnit_Year'
    DistroCatchAll:
      title: DistroCatchAll
      type: object
      required:
      - distributionId
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/DistroAction'
    DistroSimpleObjectType_AccountTeamMember:
      title: DistroSimpleObjectType_AccountTeamMember
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AccountTeamMember
    DistroTriggerEventType_UpdateField:
      title: DistroTriggerEventType_UpdateField
      type: object
      required:
      - expression
      - type
      properties:
        expression:
          $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: UpdateField
    DistroFieldUpdateExpression:
      title: DistroFieldUpdateExpression
      oneOf:
      - $ref: '#/components/schemas/DistroFieldUpdateExpression_FieldUpdate'
      - $ref: '#/components/schemas/DistroFieldUpdateExpression_FieldUpdateAnd'
      - $ref: '#/components/schemas/DistroFieldUpdateExpression_FieldUpdateOr'
      discriminator:
        propertyName: type
        mapping:
          FieldUpdate: '#/components/schemas/DistroFieldUpdateExpression_FieldUpdate'
          FieldUpdateAnd: '#/components/schemas/DistroFieldUpdateExpression_FieldUpdateAnd'
          FieldUpdateOr: '#/components/schemas/DistroFieldUpdateExpression_FieldUpdateOr'
    DistroRouting:
      title: DistroRouting
      type: object
      required:
      - trigger
      - catchAll
      properties:
        trigger:
          $ref: '#/components/schemas/DistroRoutingTrigger'
        routes:
          type: array
          items:
            $ref: '#/components/schemas/DistroRouteRow'
        catchAll:
          $ref: '#/components/schemas/DistroCatchAll'
        routingSteps:
          type: array
          items:
            $ref: '#/components/schemas/DistroRoutingStep'
    DistroFieldUpdateExpression_FieldUpdate:
      title: DistroFieldUpdateExpression_FieldUpdate
      type: object
      required:
      - fieldName
      - type
      properties:
        fieldName:
          type: string
        type:
          type: string
          const: FieldUpdate
    DistroRoutingStep_Enrichment:
      title: DistroRoutingStep_Enrichment
      type: object
      required:
      - type
      properties:
        id:
          type: string
        fieldMappings:
          type: array
          items:
            $ref: '#/components/schemas/DistroEnrichmentFieldMapping'
        type:
          type: string
          const: Enrichment
    DistroRelativeDateUnit_Day:
      title: DistroRelativeDateUnit_Day
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Day
    DistroDynamicFieldValue_VariableField:
      title: DistroDynamicFieldValue_VariableField
      type: object
      required:
      - variableId
      - field
      - type
      properties:
        variableId:
          type: string
        field:
          type: string
        relation:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroSimpleObjectType'
        type:
          type: string
          const: VariableField
    DistroRouterView:
      title: DistroRouterView
      type: object
      required:
      - id
      - workspaceId
      - status
      - routing
      properties:
        id:
          $ref: '#/components/schemas/RouterId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        description:
          type: string
        status:
          $ref: '#/components/schemas/DistroRouterStatus'
        routing:
          $ref: '#/components/schemas/DistroRoutingSummary'
    DistroRelativeDateUnit_Month:
      title: DistroRelativeDateUnit_Month
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Month
    DistroAction_SendSlackToAssignee:
      title: DistroAction_SendSlackToAssignee
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: SendSlackToAssignee
    DistroRelativeDateUnit_Week:
      title: DistroRelativeDateUnit_Week
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Week
    DistroRouter:
      title: DistroRouter
      type: object
      required:
      - id
      - name
      - status
      - trigger
      properties:
        id:
          $ref: '#/components/schemas/RouterId'
        name:
          type: string
        status:
          $ref: '#/components/schemas/DistroRouterStatus'
        trigger:
          $ref: '#/components/schemas/DistroTrigger'
    DistroRouterStatus_Deactivating:
      title: DistroRouterStatus_Deactivating
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Deactivating
    DistroRouterUpdate:
      title: DistroRouterUpdate
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        routing:
          $ref: '#/components/schemas/DistroRouting'
    DistroEnrichmentFieldMapping:
      title: DistroEnrichmentFieldMapping
      type: object
      required:
      - variableId
      - field
      - waterfallId
      - overwriteExisting
      properties:
        variableId:
          type: string
        field:
          type: string
        waterfallId:
          type: string
        overwriteExisting:
          type: boolean
        relation:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroSimpleObjectType'
    DistroSimpleObjectType_Case:
      title: DistroSimpleObjectType_Case
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Case
    DistroRoutingOutcome:
      title: DistroRoutingOutcome
      oneOf:
      - $ref: '#/components/schemas/DistroRoutingOutcome_Route'
      - $ref: '#/components/schemas/DistroRoutingOutcome_Unrepresentable'
      discriminator:
        propertyName: type
        mapping:
          Route: '#/components/schemas/DistroRoutingOutcome_Route'
          Unrepresentable: '#/components/schemas/DistroRoutingOutcome_Unrepresentable'
    DistroSpamSalesforceWrite_Enabled:
      title: DistroSpamSalesforceWrite_Enabled
      type: object
      required:
      - type
      properties:
        scoreField:
          type: string
        otherFields:
          type: array
          items:
            $ref: '#/components/schemas/DistroSpamFieldUpdate'
        type:
          type: string
          const: Enabled
    DistroRelativeDateUnit_Quarter:
      title: DistroRelativeDateUnit_Quarter
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Quarter
    DistroRouterStatus_Active:
      title: DistroRouterStatus_Active
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Active
    DistroAction_UpdateFieldDynamic:
      title: DistroAction_UpdateFieldDynamic
      type: object
      required:
      - field
      - value
      - type
      properties:
        field:
          type: string
        value:
          $ref: '#/components/schemas/DistroDynamicFieldValue'
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        type:
          type: string
          const: UpdateFieldDynamic
    DistroRouterStatus:
      title: DistroRouterStatus
      oneOf:
      - $ref: '#/components/schemas/DistroRouterStatus_Activating'
      - $ref: '#/components/schemas/DistroRouterStatus_Active'
      - $ref: '#/components/schemas/DistroRouterStatus_Deactivating'
      - $ref: '#/components/schemas/DistroRouterStatus_Error'
      - $ref: '#/components/schemas/DistroRouterStatus_Inactive'
      discriminator:
        propertyName: type
        mapping:
          Activating: '#/components/schemas/DistroRouterStatus_Activating'
          Active: '#/components/schemas/DistroRouterStatus_Active'
          Deactivating: '#/components/schemas/DistroRouterStatus_Deactivating'
          Error: '#/components/schemas/DistroRouterStatus_Error'
          Inactive: '#/components/schemas/DistroRouterStatus_Inactive'
    DistroRoutingStep_SpamCheck:
      title: DistroRoutingStep_SpamCheck
      type: object
      required:
      - salesforceWrite
      - type
      properties:
        id:
          type: string
        salesforceWrite:
          $ref: '#/components/schemas/DistroSpamSalesforceWrite'
        type:
          type: string
          const: SpamCheck
    DistroTriggerEventType_NewRecord:
      title: DistroTriggerEventType_NewRecord
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NewRecord
    DistroRouterCreate:
      title: DistroRouterCreate
      type: object
      required:
      - workspaceId
      - name
      - routing
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        routing:
          $ref: '#/components/schemas/DistroRouting'
    DistroAction_UpdateField:
      title: DistroAction_UpdateField
      type: object
      required:
      - field
      - type
      properties:
        field:
          type: string
        value: {}
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        type:
          type: string
          const: UpdateField
    DistroSimpleObjectType_Contact:
      title: DistroSimpleObjectType_Contact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Contact
    DistroOwnershipMatch_Id:
      title: DistroOwnershipMatch_Id
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Id
    DistroRouterStatus_Inactive:
      title: DistroRouterStatus_Inactive
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Inactive
    DistroRoutingOutcome_Route:
      title: DistroRoutingOutcome_Route
      type: object
      required:
      - type
      properties:
        distributionId:
          type: string
          pattern: '[^\s\\/]+'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/DistroAction'
        type:
          type: string
          const: Route
    DistroOwnershipMatch_Email:
      title: DistroOwnershipMatch_Email
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Email
    DistroSpamFieldUpdate:
      title: DistroSpamFieldUpdate
      type: object
      required:
      - objectType
      - field
      properties:
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        field:
          type: string
        value: {}
    DistroRelativeDateUnit_Year:
      title: DistroRelativeDateUnit_Year
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Year
    DistroAction_ReassignRecord:
      title: DistroAction_ReassignRecord
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: ReassignRecord
    DistroAction:
      title: DistroAction
      oneOf:
      - $ref: '#/components/schemas/DistroAction_ReassignRecord'
      - $ref: '#/components/schemas/DistroAction_SendEmailReminderToAssignee'
      - $ref: '#/components/schemas/DistroAction_SendSlackToAssignee'
      - $ref: '#/components/schemas/DistroAction_UpdateField'
      - $ref: '#/components/schemas/DistroAction_UpdateFieldDynamic'
      - $ref: '#/components/schemas/DistroAction_UpdateOwnership'
      discriminator:
        propertyName: type
        mapping:
          ReassignRecord: '#/components/schemas/DistroAction_ReassignRecord'
          SendEmailReminderToAssignee: '#/components/schemas/DistroAction_SendEmailReminderToAssignee'
          SendSlackToAssignee: '#/components/schemas/DistroAction_SendSlackToAssignee'
          UpdateField: '#/components/schemas/DistroAction_UpdateField'
          UpdateFieldDynamic: '#/components/schemas/DistroAction_UpdateFieldDynamic'
          UpdateOwnership: '#/components/schemas/DistroAction_UpdateOwnership'
    DistroSimpleObjectType_Lead:
      title: DistroSimpleObjectType_Lead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Lead
    DistroSimpleObjectType_DuplicateContact:
      title: DistroSimpleObjectType_DuplicateContact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DuplicateContact
    DistroRouterStatus_Activating:
      title: DistroRouterStatus_Activating
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Activating
    DistroRouteRow:
      title: DistroRouteRow
      type: object
      required:
      - distributionId
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/DistroAction'
    DistroOwnershipMatch:
      title: DistroOwnershipMatch
      oneOf:
      - $ref: '#/components/schemas/DistroOwnershipMatch_Email'
      - $ref: '#/components/schemas/DistroOwnershipMatch_Id'
      discriminator:
        propertyName: type
        mapping:
          Email: '#/components/schemas/DistroOwnershipMatch_Email'
          Id: '#/components/schemas/DistroOwnershipMatch_Id'
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    DistroTriggerDelay:
      title: DistroTriggerDelay
      oneOf:
      - $ref: '#/components/schemas/DistroTriggerDelay_AfterRecordEval'
      - $ref: '#/components/schemas/DistroTriggerDelay_BeforeRecordEval'
      discriminator:
        propertyName: type
        mapping:
          AfterRecordEval: '#/components/schemas/DistroTriggerDelay_AfterRecordEval'
          BeforeRecordEval: '#/components/schemas/DistroTriggerDelay_BeforeRecordEval'
    DistroTrigger:
      title: DistroTrigger
      type: object
      required:
      - objectType
      - eventTypes
      properties:
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        eventTypes:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroTriggerEventType'
        evaluation:
          type: string
          pattern: '[^\s\\/]+'
        delay:
          $ref: '#/components/schemas/DistroTriggerDelay'
    DistroFieldUpdateExpression_FieldUpdateAnd:
      title: DistroFieldUpdateExpression_FieldUpdateAnd
      type: object
      required:
      - expressions
      - type
      properties:
        expressions:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: FieldUpdateAnd
    DistroAction_SendEmailReminderToAssignee:
      title: DistroAction_SendEmailReminderToAssignee
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: SendEmailReminderToAssignee
    DistroSimpleObjectType_Opportunity:
      title: DistroSimpleObjectType_Opportunity
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Opportunity
    DistroDynamicFieldValue_TemplateText:
      title: DistroDynamicFieldValue_TemplateText
      type: object
      required:
      - text
      - type
      properties:
        text:
          type: string
        type:
          type: string
          const: TemplateText
    DistroTriggerDelay_AfterRecordEval:
      title: DistroTriggerDelay_AfterRecordEval
      type: object
      required:
      - duration
      - type
      properties:
        duration:
          type: string
        type:
          type: string
          const: AfterRecordEval
    DistroRouterStatus_Error:
      title: DistroRouterStatus_Error
      type: object
      required:
      - message
      - type
      properties:
        message:
          type: string
        type:
          type: string
          const: Error
    DistroRoutingStep_Unrepresentable:
      title: DistroRoutingStep_Unrepresentable
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Unrepresentable
    DistroRoutingTrigger:
      title: DistroRoutingTrigger
      type: object
      required:
      - objectType
      - eventTypes
      properties:
        objectType:
          $ref: '#/components/schemas/DistroSimpleObjectType'
        eventTypes:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DistroTriggerEventType'
        evaluation:
          type: string
          pattern: '[^\s\\/]+'
        delay:
          $ref: '#/components/schemas/DistroTriggerDelay'
    DistroAction_UpdateOwnership:
      title: DistroAction_UpdateOwnership
      type: object
      required:
      - respectWorkingHours
      - sendSlackNotification
      - sendEmailNotification
      - matchBy
      - type
      properties:
        respectWorkingHours:
          type: boolean
        sendSlackNotification:
          type: boolean
        sendEmailNotification:
          type: boolean
        matchBy:
          $ref: '#/components/schemas/DistroOwnershipMatch'
        type:
          type: string
          const: UpdateOwnership
    DistroDynamicFieldValue:
      title: DistroDynamicFieldValue
      oneOf:
      - $ref: '#/components/schemas/DistroDynamicFieldValue_RelativeDate'
      - $ref: '#/components/schemas/DistroDynamicFieldValue_TemplateText'
      - $ref: '#/components/schemas/DistroDynamicFieldValue_VariableField'
      discriminator:
        propertyName: type
        mapping:
          RelativeDate: '#/components/schemas/DistroDynamicFieldValue_RelativeDate'
          TemplateText: '#/components/schemas/DistroDynamicFieldValue_TemplateText'
          VariableField: '#/components/schemas/DistroDynamicFieldValue_VariableField'
    DistroSimpleObjectType_DuplicateLead:
      title: DistroSimpleObjectType_DuplicateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DuplicateLead
    DistroTriggerEventType:
      title: DistroTriggerEventType
      oneOf:
      - $ref: '#/components/schemas/DistroTriggerEventType_NewRecord'
      - $ref: '#/components/schemas/DistroTriggerEventType_NewRecordOrUpdateField'
      - $ref: '#/components/schemas/DistroTriggerEventType_Scheduled'
      - $ref: '#/components/schemas/DistroTriggerEventType_Signal'
      - $ref: '#/components/schemas/DistroTriggerEventType_UpdateField'
      discriminator:
        propertyName: type
        mapping:
          NewRecord: '#/components/schemas/DistroTriggerEventType_NewRecord'
          NewRecordOrUpdateField: '#/components/schemas/DistroTriggerEventType_NewRecordOrUpdateField'
          Scheduled: '#/components/schemas/DistroTriggerEventType_Scheduled'
          Signal: '#/components/schemas/DistroTriggerEventType_Signal'
          UpdateField: '#/components/schemas/DistroTriggerEventType_UpdateField'
    ResourceSchedulerId:
      title: ResourceSchedulerId
      examples:
      - d4e5f6a7-b8c9-4d0e-a1f2-3b4c5d6e7f8a
      type: string
      format: uuid
    DistroTriggerEventType_Signal:
      title: DistroTriggerEventType_Signal
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Signal
    DistroTriggerEventType_NewRecordOrUpdateField:
      title: DistroTriggerEventType_NewRecordOrUpdateField
      type: object
      required:
      - expression
      - type
      properties:
        expression:
          $ref: '#/components/schemas/DistroFieldUpdateExpression'
        type:
          type: string
          const: NewRecordOrUpdateField
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer prefix returns 401.'
      name: Authorization
      in: header
x-refined-from:
- chili-piper-distro-debugger-openapi.yaml
- chili-piper-distro-router-configuration-openapi.yaml
