openapi: 3.2.0
info:
  title: Chili Piper Distribution API
  version: '1.0'
  description: 'Operations tagged distribution across 9 of this provider''s published API definitions: chili-piper-concierge-router-builder-openapi.yaml, chili-piper-concierge-router-configuration-openapi.yaml, chili-piper-distribution-analysis-openapi.yaml, chili-piper-distro-debugger-openapi.yaml, chili-piper-distro-router-configuration-openapi.yaml, chili-piper-handoff-router-configuration-openapi.yaml, chili-piper-routing-audit-openapi.yaml, chili-piper-scheduling-link-management-openapi.yaml…'
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Distribution
paths:
  /v1/org/distribution:
    post:
      tags:
      - Distribution
      summary: Create distribution
      description: '[operation: distribution-create]


        MUTATING


        Creates and immediately publishes a distribution — a reusable assignment pool that routing rules and round-robin scheduling links reference. `name` is required: a nameless distribution is a legacy (v1) one that never appears in distribution-list and cannot be used until named. `assignmentTypeConfig` fixes what it distributes (records, meetings, or conversations). Tune weights/caps afterwards with distribution-update-v3 or distribution-adjust-v3.


        - assignmentTypeConfig (req): discriminated by `type`:


        {type: "Record", handling: {type: "WorkingHours"}|{type: "Strict"}}

        {type: "Meeting", handling: {type: "Flexible", reassignmentType: "SameUser"|"AnyTeamMember", allowPickingAssignee: bool}

        |{type: "Strict", hideAssignee: bool},

        limits: {type: "MeetingLimitUnset"}

        |{type: "MeetingLimitSet", userCaps: [{userId, limit}], resetPeriodicity: {type: "HourlyRolling"}|{type: "Daily", timeZone}|{type: "Weekly", timeZone, dayOfWeek(1-7)}|{type: "Monthly", timeZone}}}

        {type: "Conversation"}


        - weights (opt): [{userId, weight}]; manualCalibration (opt): [{userId, count}]; capping (opt): per-user caps


        →


        {distributionId}


        see: team-list (find teamId), distribution-list (verify after)'
      operationId: distributionCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDistributionRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDistributionResponse'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.modify
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v2/org/distribution/list:
    put:
      tags:
      - Distribution
      summary: List all distributions (PUT)
      description: '[operation: distribution-list-put]


        READ-ONLY


        Browses published distributions in the org — the preferred, non-deprecated list. Filters go in the request body (avoiding query-string length limits): workspaceIds, name (substring match), and assignmentType ("Record" | "Meeting" | "Conversation"). Paginated (pageSize default 200).


        →


        {results: [{distributionId, name, teamId, assignees, assignmentTypeConfig, capping}]}


        see: distribution-list (GET equivalent)'
      operationId: distributionListPut
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Distribution'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/distribution/workspace-settings:
    get:
      tags:
      - Distribution
      summary: Get workspace distribution settings
      description: '[operation: distribution-workspace-settings-get]


        READ-ONLY


        Read a workspace''s round-robin distribution (fairness/leveling) settings.


        Returns the workspace-level round-robin settings that shape the fairness/leveling equation applied on top of each distribution''s per-user weights and calibration. These knobs are shared by every distribution in the workspace, so an analysis skill should read them before reasoning about how assignments are balanced (otherwise it may misassume the leveling rules). Reflects the published (live) settings only. Pass the target `workspaceId` (from workspace-list).


        →


        {calibrateVacation, creditBackCancelled, creditBackNoShow, orderIfEqualState ("Random"|"AsConfigured"), resetPeriodicity, vacationBuffer: {daysBeforeStart, daysBeforeEnd, recognitionEnabled, freshness ("RealTime"|"Cached")}}


        - resetPeriodicity: discriminated by `type`:


        {type: "Monthly", timeZone}

        {type: "Quarterly", firstMonth (1-3), timeZone}

        {type: "Yearly", monthOfYear (1-12), timeZone}

        {type: "Never"}


        Note: creditBackCancelled / creditBackNoShow move a user back up the queue when a meeting is cancelled / no-showed; calibrateVacation excuses vacationing users from the fairness penalty.


        see: distribution-workspace-settings-update (edit these settings), workspace-list (resolve workspaceId), distribution-list-put (per-distribution weights/calibration)'
      operationId: distributionWorkspaceSettingsGet
      parameters:
      - name: workspaceId
        in: query
        description: Id of the workspace
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceDistributionSettings'
        '400':
          description: 'Invalid value for: query parameter workspaceId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - distribution.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
components:
  schemas:
    DistributionUserState_Capped:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded until the cap resets.
      type: object
      required:
      - userId
      - total
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Capped
    TeamRef:
      title: TeamRef
      type: object
      required:
      - id
      - revision
      properties:
        id:
          $ref: '#/components/schemas/TeamId'
        revision:
          type: integer
          format: int32
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    DistributionState:
      title: DistributionState
      type: object
      properties:
        userStates:
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          type: string
          format: date-time
    RecordHandling:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/RecordHandling_Strict'
      - $ref: '#/components/schemas/RecordHandling_WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/RecordHandling_Strict'
          WorkingHours: '#/components/schemas/RecordHandling_WorkingHours'
    RecordHandling_Strict:
      title: RecordHandling_Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    DistributedAssignmentLimitReset_Weekly:
      title: DistributedAssignmentLimitReset_Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    DistributedAssignmentLimitReset_Daily:
      title: DistributedAssignmentLimitReset_Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    Prioritization:
      title: Prioritization
      type: object
      properties:
        queue:
          description: Ordered list of active user IDs in the order they will receive the next assignments. This is the authoritative assignment-ordering surface; level fields are informational.
          type: array
          items:
            type: string
            pattern: '[^\s\\/]+'
        onVacation:
          description: Users currently on vacation and skipped by the queue until they return.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        reachedCap:
          description: Users who have reached their assignment cap for the current period and are skipped until the cap resets.
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
    CreateDistributionRequest:
      title: CreateDistributionRequest
      type: object
      required:
      - teamId
      - workspaceId
      - assignmentTypeConfig
      - name
      properties:
        teamId:
          $ref: '#/components/schemas/TeamId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        weights:
          type: array
          items:
            $ref: '#/components/schemas/UserWeight'
        manualCalibration:
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit'
        name:
          type: string
    UserWeight:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    MeetingHandling:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/MeetingHandling_Flexible'
      - $ref: '#/components/schemas/MeetingHandling_Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/MeetingHandling_Flexible'
          Strict: '#/components/schemas/MeetingHandling_Strict'
    ListRequest:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    MeetingLimit:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimit_MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimit_MeetingLimitUnset'
    MeetingHandling_Strict:
      title: MeetingHandling_Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    ReassignmentType:
      title: ReassignmentType
      type: string
      enum:
      - SameUser
      - AnyTeamMember
    DistributedAssignmentLimitReset:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
      - $ref: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/DistributedAssignmentLimitReset_Daily'
          HourlyRolling: '#/components/schemas/DistributedAssignmentLimitReset_HourlyRolling'
          Monthly: '#/components/schemas/DistributedAssignmentLimitReset_Monthly'
          Weekly: '#/components/schemas/DistributedAssignmentLimitReset_Weekly'
    UserCalibration:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          type: integer
          format: int32
    DistributionAssignmentTypeConfig:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
      - $ref: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/DistributionAssignmentTypeConfig_Conversation'
          Meeting: '#/components/schemas/DistributionAssignmentTypeConfig_Meeting'
          Record: '#/components/schemas/DistributionAssignmentTypeConfig_Record'
    MeetingLimitReset_Monthly:
      title: MeetingLimitReset_Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    DistributedAssignmentLimit:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    MeetingLimit_MeetingLimitUnset:
      title: MeetingLimit_MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    DistributionAssignmentTypeConfig_Record:
      title: DistributionAssignmentTypeConfig_Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling'
        type:
          type: string
          const: Record
    DistributionAssignmentTypeConfig_Conversation:
      title: DistributionAssignmentTypeConfig_Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    Distribution:
      title: Distribution
      type: object
      required:
      - id
      - published
      - state
      - prioritization
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        published:
          $ref: '#/components/schemas/ConfigurationDTO'
        state:
          $ref: '#/components/schemas/DistributionState'
        prioritization:
          $ref: '#/components/schemas/Prioritization'
    TeamId:
      title: TeamId
      examples:
      - 2a9c3f1e-8b7d-4a5c-9e6f-1b2c3d4e5f6a
      type: string
      pattern: '[^\s\\/]+'
    RecordHandling_WorkingHours:
      title: RecordHandling_WorkingHours
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: WorkingHours
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    MeetingLimitReset_Weekly:
      title: MeetingLimitReset_Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    DistributedAssignmentLimitReset_Monthly:
      title: DistributedAssignmentLimitReset_Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    MeetingLimit_MeetingLimitSet:
      title: MeetingLimit_MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset'
        type:
          type: string
          const: MeetingLimitSet
    DistributedAssignmentLimitReset_HourlyRolling:
      title: DistributedAssignmentLimitReset_HourlyRolling
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: HourlyRolling
    DistributionAssignmentType:
      title: DistributionAssignmentType
      type: string
      enum:
      - Record
      - Meeting
      - Conversation
    CreateDistributionResponse:
      title: CreateDistributionResponse
      type: object
      required:
      - distributionId
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
    MeetingLimitReset:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitReset_Daily'
      - $ref: '#/components/schemas/MeetingLimitReset_Monthly'
      - $ref: '#/components/schemas/MeetingLimitReset_Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/MeetingLimitReset_Daily'
          Monthly: '#/components/schemas/MeetingLimitReset_Monthly'
          Weekly: '#/components/schemas/MeetingLimitReset_Weekly'
    DistributionUserState:
      title: DistributionUserState
      oneOf:
      - $ref: '#/components/schemas/DistributionUserState_Active'
      - $ref: '#/components/schemas/DistributionUserState_Capped'
      - $ref: '#/components/schemas/DistributionUserState_Disabled'
      - $ref: '#/components/schemas/DistributionUserState_NoLicense'
      - $ref: '#/components/schemas/DistributionUserState_Removed'
      discriminator:
        propertyName: type
        mapping:
          Active: '#/components/schemas/DistributionUserState_Active'
          Capped: '#/components/schemas/DistributionUserState_Capped'
          Disabled: '#/components/schemas/DistributionUserState_Disabled'
          NoLicense: '#/components/schemas/DistributionUserState_NoLicense'
          Removed: '#/components/schemas/DistributionUserState_Removed'
    DistributionUserState_Disabled:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Disabled
    DistributionUserState_Removed:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Removed
    DistributionUserState_Active:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's current level.
      type: object
      required:
      - userId
      - total
      - level
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: Active
    Levels:
      title: Levels
      type: object
      required:
      - current
      - nextAssignmentDelta
      - total
      properties:
        current:
          description: Earned score plus prolonged-reservation projection, before manual calibration.
          type: number
        nextAssignmentDelta:
          description: Score increment that will be added if this user receives the next assignment. Forward-looking; not included in `current` or `total`.
          type: number
        calibrationDelta:
          description: Manual-calibration adjustment applied on top of `current`. Absent when no calibration is in effect. When present, `total = current + calibrationDelta`.
          type: number
        total:
          description: Current score with manual calibration applied.
          type: number
    ConfigurationDTO:
      title: ConfigurationDTO
      type: object
      required:
      - distributionId
      - workspaceId
      - assignmentTypeConfig
      - teamRef
      - metadata
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        teamRef:
          $ref: '#/components/schemas/TeamRef'
        weights:
          type: array
          items:
            $ref: '#/components/schemas/UserWeight'
        name:
          type: string
        manualCalibration:
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit'
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    MeetingLimitReset_Daily:
      title: MeetingLimitReset_Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    DistributionAssignmentTypeConfig_Meeting:
      title: DistributionAssignmentTypeConfig_Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling'
        limits:
          $ref: '#/components/schemas/MeetingLimit'
        type:
          type: string
          const: Meeting
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    DistributionUserState_NoLicense:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments. Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - statistics
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        statistics:
          $ref: '#/components/schemas/UserStatistics'
        type:
          type: string
          const: NoLicense
    UserLimit:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          type: integer
          format: int32
          minimum: 0
    UserStatistics:
      title: UserStatistics
      type: object
      required:
      - assigned
      - cancelled
      - noShow
      - reassignedToThis
      - reassignedFromThis
      properties:
        assigned:
          description: Number of assignments booked directly to this user in the current period.
          type: integer
          format: int32
        cancelled:
          description: Number of assignments that were later cancelled.
          type: integer
          format: int32
        noShow:
          description: Number of assignments where the invitee did not show up.
          type: integer
          format: int32
        reassignedToThis:
          description: Number of assignments that were reassigned to this user from another.
          type: integer
          format: int32
        reassignedFromThis:
          description: Number of assignments originally made to this user that were reassigned away.
          type: integer
          format: int32
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    PaginatedResult_Distribution:
      title: PaginatedResult_Distribution
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Distribution'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    MeetingHandling_Flexible:
      title: MeetingHandling_Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    DistributionState_2:
      title: DistributionState
      type: object
      properties:
        userStates:
          description: Per-user state and statistics for every user in the distribution.
          type: array
          items:
            $ref: '#/components/schemas/DistributionUserState'
        lastReset:
          description: When the distribution's counters were last reset; absent if never reset.
          type: string
          format: date-time
    WorkspaceResetPeriodicity_Quarterly:
      title: WorkspaceResetPeriodicity_Quarterly
      description: Counters reset every quarter; `firstMonth` (1-3) is the first month of the quarter.
      type: object
      required:
      - firstMonth
      - timeZone
      - type
      properties:
        firstMonth:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Quarterly
    VacationBuffer:
      title: VacationBuffer
      type: object
      required:
      - daysBeforeStart
      - daysBeforeEnd
      - recognitionEnabled
      - freshness
      properties:
        daysBeforeStart:
          description: Days before a vacation starts to stop assigning to the user.
          type: integer
          format: int32
        daysBeforeEnd:
          description: Days before a vacation ends after which the user becomes assignable again.
          type: integer
          format: int32
        recognitionEnabled:
          description: Whether vacations are recognized at all (calendars are consulted).
          type: boolean
        freshness:
          $ref: '#/components/schemas/VacationFreshness'
    VacationFreshness:
      title: VacationFreshness
      description: Whether vacation state is read live (RealTime) or from cache (Cached).
      type: string
      enum:
      - Cached
      - RealTime
    UserWeight_2:
      title: UserWeight
      type: object
      required:
      - userId
      - weight
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        weight:
          description: Relative assignment share for the user (0–10000, default 100); higher weight receives proportionally more assignments, 0 disables the user.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
    WorkspaceDistributionSettings:
      title: WorkspaceDistributionSettings
      type: object
      required:
      - calibrateVacation
      - creditBackCancelled
      - creditBackNoShow
      - orderIfEqualState
      - resetPeriodicity
      - vacationBuffer
      properties:
        calibrateVacation:
          description: Whether users on vacation are calibrated out of the fairness equation so they are not penalized for time off.
          type: boolean
        creditBackCancelled:
          description: Whether a cancelled meeting credits the assignment back to the user (they move back up the queue as if unassigned).
          type: boolean
        creditBackNoShow:
          description: Whether a no-show credits the assignment back to the user, like `creditBackCancelled`.
          type: boolean
        orderIfEqualState:
          $ref: '#/components/schemas/OrderIfEqualState'
        resetPeriodicity:
          $ref: '#/components/schemas/WorkspaceResetPeriodicity'
          description: When the per-period assignment counters reset.
        vacationBuffer:
          $ref: '#/components/schemas/VacationBuffer'
          description: Vacation-awareness configuration.
    ListRequest_2:
      title: ListRequest
      type: object
      properties:
        workspaceIds:
          description: Restrict results to these workspaces. Omit to search all accessible workspaces.
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        page:
          description: Zero-based page index. Defaults to 0.
          type: integer
          format: int64
          minimum: 0
        pageSize:
          description: Number of distributions per page.
          type: integer
          format: int64
          exclusiveMinimum: 0
        name:
          description: Filter to distributions matching this name.
          type: string
        assignmentType:
          $ref: '#/components/schemas/DistributionAssignmentType'
    UserCalibration_2:
      title: UserCalibration
      type: object
      required:
      - userId
      - calibration
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        calibration:
          description: Manual offset added to this user's computed score to bias their position in the assignment queue (signed).
          type: integer
          format: int32
    DistributedAssignmentLimit_2:
      title: DistributedAssignmentLimit
      type: object
      required:
      - resetPeriodicity
      properties:
        userCaps:
          description: Per-user assignment caps.
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit_2'
        resetPeriodicity:
          $ref: '#/components/schemas/DistributedAssignmentLimitReset'
    WorkspaceResetPeriodicity_Yearly:
      title: WorkspaceResetPeriodicity_Yearly
      description: Counters reset once a year in `monthOfYear` (1-12) in the given time zone.
      type: object
      required:
      - monthOfYear
      - timeZone
      - type
      properties:
        monthOfYear:
          type: integer
          format: int32
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Yearly
    WorkspaceResetPeriodicity:
      title: WorkspaceResetPeriodicity
      oneOf:
      - $ref: '#/components/schemas/WorkspaceResetPeriodicity_Monthly'
      - $ref: '#/components/schemas/WorkspaceResetPeriodicity_Never'
      - $ref: '#/components/schemas/WorkspaceResetPeriodicity_Quarterly'
      - $ref: '#/components/schemas/WorkspaceResetPeriodicity_Yearly'
      discriminator:
        propertyName: type
        mapping:
          Monthly: '#/components/schemas/WorkspaceResetPeriodicity_Monthly'
          Never: '#/components/schemas/WorkspaceResetPeriodicity_Never'
          Quarterly: '#/components/schemas/WorkspaceResetPeriodicity_Quarterly'
          Yearly: '#/components/schemas/WorkspaceResetPeriodicity_Yearly'
    WorkspaceResetPeriodicity_Monthly:
      title: WorkspaceResetPeriodicity_Monthly
      description: Counters reset at the start of every month in the given time zone.
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    WorkspaceResetPeriodicity_Never:
      title: WorkspaceResetPeriodicity_Never
      description: Counters never reset automatically.
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Never
    ConfigurationDTO_2:
      title: ConfigurationDTO
      type: object
      required:
      - distributionId
      - workspaceId
      - assignmentTypeConfig
      - teamRef
      - metadata
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
          description: Workspace the distribution belongs to.
        assignmentTypeConfig:
          $ref: '#/components/schemas/DistributionAssignmentTypeConfig'
        teamRef:
          $ref: '#/components/schemas/TeamRef'
          description: Team whose members participate in this distribution.
        weights:
          description: Per-user relative assignment weights.
          type: array
          items:
            $ref: '#/components/schemas/UserWeight_2'
        name:
          description: Human-readable distribution name; absent for unnamed distributions.
          type: string
        manualCalibration:
          description: Per-user manual score offsets applied on top of computed levels.
          type: array
          items:
            $ref: '#/components/schemas/UserCalibration_2'
        capping:
          $ref: '#/components/schemas/DistributedAssignmentLimit_2'
          description: Per-user assignment cap; absent means uncapped.
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
          description: Creation/update audit metadata.
    OrderIfEqualState:
      title: OrderIfEqualState
      description: Tie-break ordering when two users have an equal level. Currently always "AsConfigured" upstream.
      type: string
      enum:
      - AsConfigured
      - Random
    UserLimit_2:
      title: UserLimit
      type: object
      required:
      - userId
      - limit
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        limit:
          description: Maximum assignments this user may receive per reset period (non-negative).
          type: integer
          format: int32
          minimum: 0
    MeetingLimitSet:
      title: MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset_2'
        type:
          type: string
          const: MeetingLimitSet
    RecordHandling_2:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/Strict1'
      - $ref: '#/components/schemas/WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/Strict1'
          WorkingHours: '#/components/schemas/WorkingHours'
    Weekly1:
      title: Weekly
      type: object
      required:
      - timeZone
      - dayOfWeek
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        dayOfWeek:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        type:
          type: string
          const: Weekly
    Strict1:
      title: Strict
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Strict
    Monthly1:
      title: Monthly
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    MeetingHandling_2:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/Flexible'
      - $ref: '#/components/schemas/Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/Flexible'
          Strict: '#/components/schemas/Strict'
    MeetingLimit_2:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitSet'
      - $ref: '#/components/schemas/MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimitUnset'
    Conversation:
      title: Conversation
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Conversation
    DistributedAssignmentLimitReset_2:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily1'
      - $ref: '#/components/schemas/HourlyRolling'
      - $ref: '#/components/schemas/Monthly1'
      - $ref: '#/components/schemas/Weekly1'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily1'
          HourlyRolling: '#/components/schemas/HourlyRolling'
          Monthly: '#/components/schemas/Monthly1'
          Weekly: '#/components/schemas/Weekly1'
    DistributionAssignmentTypeConfig_2:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/Conversation'
      - $ref: '#/components/schemas/Meeting'
      - $ref: '#/components/schemas/Record'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/Conversation'
          Meeting: '#/components/schemas/Meeting'
          Record: '#/components/schemas/Record'
    Weekly:
      title: Weekly
      type: object
      required:
      - every
      - startsOn
      - resetDayOfWeek
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDayOfWeek:
          examples:
          - MONDAY
          type: string
          enum:
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Weekly
    Record:
      title: Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling_2'
        type:
          type: string
          const: Record
    Daily1:
      title: Daily
      type: object
      required:
      - timeZone
      - type
      properties:
        timeZone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    Meeting:
      title: Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling_2'
        limits:
          $ref: '#/components/schemas/MeetingLimit_2'
        type:
          type: string
          const: Meeting
    Monthly:
      title: Monthly
      type: object
      required:
      - every
      - startsOn
      - resetDay
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetDay:
          type: integer
          format: int32
          minimum: 1
          maximum: 28
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Monthly
    Flexible:
      title: Flexible
      type: object
      required:
      - reassignmentType
      - allowPickingAssignee
      - type
      properties:
        reassignmentType:
          $ref: '#/components/schemas/ReassignmentType'
        allowPickingAssignee:
          type: boolean
        type:
          type: string
          const: Flexible
    HourlyRolling:
      title: HourlyRolling
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: HourlyRolling
    MeetingLimitReset_2:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily'
      - $ref: '#/components/schemas/Monthly'
      - $ref: '#/components/schemas/Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily'
          Monthly: '#/components/schemas/Monthly'
          Weekly: '#/components/schemas/Weekly'
    WorkingHours:
      title: WorkingHours
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: WorkingHours
    MeetingLimitUnset:
      title: MeetingLimitUnset
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: MeetingLimitUnset
    Daily:
      title: Daily
      type: object
      required:
      - every
      - startsOn
      - resetLocalTime
      - timezone
      - type
      properties:
        every:
          type: integer
          format: int32
          exclusiveMinimum: 0
        startsOn:
          type: string
          format: date
        resetLocalTime:
          type: string
        timezone:
          description: IANA timezone identifier (e.g. America/New_York, Europe/London, Asia/Tokyo)
          examples:
          - America/New_York
          type: string
        type:
          type: string
          const: Daily
    Strict:
      title: Strict
      type: object
      required:
      - hideAssignee
      - type
      properties:
        hideAssignee:
          type: boolean
        type:
          type: string
          const: Strict
    DistributionUserState_Capped_2:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded until the cap resets.
      type: object
      required:
      - userId
      - total
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        type:
          type: string
          const: Capped
    MeetingLimitSet_2:
      title: MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset_3'
        type:
          type: string
          const: MeetingLimitSet
    RecordHandling_3:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/Strict1'
      - $ref: '#/components/schemas/WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/Strict1'
          WorkingHours: '#/components/schemas/WorkingHours'
    MeetingHandling_3:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/Flexible'
      - $ref: '#/components/schemas/Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/Flexible'
          Strict: '#/components/schemas/Strict'
    MeetingLimit_3:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitSet_2'
      - $ref: '#/components/schemas/MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimitUnset'
    DistributedAssignmentLimitReset_3:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily1'
      - $ref: '#/components/schemas/HourlyRolling'
      - $ref: '#/components/schemas/Monthly1'
      - $ref: '#/components/schemas/Weekly1'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily1'
          HourlyRolling: '#/components/schemas/HourlyRolling'
          Monthly: '#/components/schemas/Monthly1'
          Weekly: '#/components/schemas/Weekly1'
    DistributionAssignmentTypeConfig_3:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/Conversation'
      - $ref: '#/components/schemas/Meeting_2'
      - $ref: '#/components/schemas/Record_2'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/Conversation'
          Meeting: '#/components/schemas/Meeting'
          Record: '#/components/schemas/Record'
    Record_2:
      title: Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling_3'
        type:
          type: string
          const: Record
    Meeting_2:
      title: Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling_3'
        limits:
          $ref: '#/components/schemas/MeetingLimit_3'
        type:
          type: string
          const: Meeting
    MeetingLimitReset_3:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily'
      - $ref: '#/components/schemas/Monthly'
      - $ref: '#/components/schemas/Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily'
          Monthly: '#/components/schemas/Monthly'
          Weekly: '#/components/schemas/Weekly'
    DistributionUserState_Disabled_2:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        type:
          type: string
          const: Disabled
    DistributionUserState_Removed_2:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        type:
          type: string
          const: Removed
    DistributionUserState_Active_2:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's current level.
      type: object
      required:
      - userId
      - total
      - level
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        type:
          type: string
          const: Active
    DistributionUserState_NoLicense_2:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments. Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        type:
          type: string
          const: NoLicense
    DistributionUserState_Capped_3:
      title: DistributionUserState_Capped
      description: User has reached their assignment cap for the current period and is temporarily excluded until the cap resets.
      type: object
      required:
      - userId
      - total
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        type:
          type: string
          const: Capped
    MeetingLimitSet_3:
      title: MeetingLimitSet
      type: object
      required:
      - resetPeriodicity
      - type
      properties:
        userCaps:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/UserLimit'
        resetPeriodicity:
          $ref: '#/components/schemas/MeetingLimitReset_4'
        type:
          type: string
          const: MeetingLimitSet
    RecordHandling_4:
      title: RecordHandling
      oneOf:
      - $ref: '#/components/schemas/Strict1'
      - $ref: '#/components/schemas/WorkingHours'
      discriminator:
        propertyName: type
        mapping:
          Strict: '#/components/schemas/Strict1'
          WorkingHours: '#/components/schemas/WorkingHours'
    MeetingHandling_4:
      title: MeetingHandling
      oneOf:
      - $ref: '#/components/schemas/Flexible'
      - $ref: '#/components/schemas/Strict'
      discriminator:
        propertyName: type
        mapping:
          Flexible: '#/components/schemas/Flexible'
          Strict: '#/components/schemas/Strict'
    MeetingLimit_4:
      title: MeetingLimit
      oneOf:
      - $ref: '#/components/schemas/MeetingLimitSet_3'
      - $ref: '#/components/schemas/MeetingLimitUnset'
      discriminator:
        propertyName: type
        mapping:
          MeetingLimitSet: '#/components/schemas/MeetingLimitSet'
          MeetingLimitUnset: '#/components/schemas/MeetingLimitUnset'
    DistributedAssignmentLimitReset_4:
      title: DistributedAssignmentLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily1'
      - $ref: '#/components/schemas/HourlyRolling'
      - $ref: '#/components/schemas/Monthly1'
      - $ref: '#/components/schemas/Weekly1'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily1'
          HourlyRolling: '#/components/schemas/HourlyRolling'
          Monthly: '#/components/schemas/Monthly1'
          Weekly: '#/components/schemas/Weekly1'
    DistributionAssignmentTypeConfig_4:
      title: DistributionAssignmentTypeConfig
      oneOf:
      - $ref: '#/components/schemas/Conversation'
      - $ref: '#/components/schemas/Meeting_3'
      - $ref: '#/components/schemas/Record_3'
      discriminator:
        propertyName: type
        mapping:
          Conversation: '#/components/schemas/Conversation'
          Meeting: '#/components/schemas/Meeting'
          Record: '#/components/schemas/Record'
    Record_3:
      title: Record
      type: object
      required:
      - handling
      - type
      properties:
        handling:
          $ref: '#/components/schemas/RecordHandling_4'
        type:
          type: string
          const: Record
    Meeting_3:
      title: Meeting
      type: object
      required:
      - handling
      - limits
      - type
      properties:
        handling:
          $ref: '#/components/schemas/MeetingHandling_4'
        limits:
          $ref: '#/components/schemas/MeetingLimit_4'
        type:
          type: string
          const: Meeting
    MeetingLimitReset_4:
      title: MeetingLimitReset
      oneOf:
      - $ref: '#/components/schemas/Daily'
      - $ref: '#/components/schemas/Monthly'
      - $ref: '#/components/schemas/Weekly'
      discriminator:
        propertyName: type
        mapping:
          Daily: '#/components/schemas/Daily'
          Monthly: '#/components/schemas/Monthly'
          Weekly: '#/components/schemas/Weekly'
    DistributionUserState_Disabled_3:
      title: DistributionUserState_Disabled
      description: User has been explicitly disabled in this distribution (weight set to 0). Still on the team but won't receive assignments until re-enabled.
      type: object
      required:
      - userId
      - total
      - disabledAt
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        disabledAt:
          type: string
          format: date-time
        type:
          type: string
          const: Disabled
    DistributionUserState_Removed_3:
      title: DistributionUserState_Removed
      description: User was removed from the team entirely — historical record, no assignments will go to this user.
      type: object
      required:
      - userId
      - total
      - removedAt
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        removedAt:
          type: string
          format: date-time
        type:
          type: string
          const: Removed
    DistributionUserState_Active_3:
      title: DistributionUserState_Active
      description: User is active in the distribution and eligible for assignments. Carries the user's current level.
      type: object
      required:
      - userId
      - total
      - level
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        level:
          $ref: '#/components/schemas/Levels'
        type:
          type: string
          const: Active
    DistributionUserState_NoLicense_3:
      title: DistributionUserState_NoLicense
      description: User is still on the team but has lost their license, so they cannot receive assignments. Re-licensing restores them.
      type: object
      required:
      - userId
      - total
      - licenseRemovedAt
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        total:
          type: integer
          format: int32
        licenseRemovedAt:
          type: string
          format: date-time
        type:
          type: string
          const: NoLicense
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer prefix returns 401.'
      name: Authorization
      in: header
x-refined-from:
- chili-piper-concierge-router-builder-openapi.yaml
- chili-piper-concierge-router-configuration-openapi.yaml
- chili-piper-distribution-analysis-openapi.yaml
- chili-piper-distro-debugger-openapi.yaml
- chili-piper-distro-router-configuration-openapi.yaml
- chili-piper-handoff-router-configuration-openapi.yaml
- chili-piper-routing-audit-openapi.yaml
- chili-piper-scheduling-link-management-openapi.yaml
- chili-piper-user-offboarding-openapi.yaml
