openapi: 3.2.0
info:
  title: Chili Piper — Concierge Router Builder Actions Tenant API
  version: 1.289.1
  description: GPT Actions for the concierge-router-builder GPT — a subset of the Chili Piper Edge API. Authenticate with a Bearer API key (Admin Center → API Keys).
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
tags:
- name: tenant
paths:
  /v1/org/tenant/get:
    get:
      tags:
      - tenant
      summary: Get tenant info
      description: "[operation: tenant-get]\n\n\n\nREAD-ONLY\n\n\n\nFetches top-level config and metadata for the authenticated org — the tenant is inferred from the API key, so there are no inputs. Use it to learn the org's subdomain and cluster, which other calls fold into URLs and identifiers.\n\n→\n\n    {tenantData: {tenantId, cluster, subdomain}, tenantType: \"Personal\"|\"Organization\", email (Personal only), domains: [...] (Organization only)}\n\n  Note: tenantId is at tenantData.tenantId (not top-level); subdomain is at tenantData.subdomain\n\nsee: meeting-activity/crm-activity (use tenantData.subdomain for URL construction)"
      operationId: tenantGet
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantInfo'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - tenant.read
components:
  schemas:
    TenantInfo_Organization:
      title: TenantInfo_Organization
      type: object
      required:
      - tenantData
      - type
      properties:
        tenantData:
          $ref: '#/components/schemas/TenantData'
        domains:
          type: array
          uniqueItems: true
          items:
            type: string
        type:
          type: string
          const: Organization
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    TenantInfo:
      title: TenantInfo
      oneOf:
      - $ref: '#/components/schemas/TenantInfo_Organization'
      - $ref: '#/components/schemas/TenantInfo_Personal'
      discriminator:
        propertyName: type
        mapping:
          Organization: '#/components/schemas/TenantInfo_Organization'
          Personal: '#/components/schemas/TenantInfo_Personal'
    TenantData:
      title: TenantData
      type: object
      required:
      - tenantId
      - cluster
      - subdomain
      properties:
        tenantId:
          $ref: '#/components/schemas/TenantId'
        cluster:
          type: string
        subdomain:
          type: string
    TenantInfo_Personal:
      title: TenantInfo_Personal
      type: object
      required:
      - tenantData
      - email
      - type
      properties:
        tenantData:
          $ref: '#/components/schemas/TenantData'
        email:
          $ref: '#/components/schemas/Email'
        type:
          type: string
          const: Personal
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    TenantId:
      title: TenantId
      examples:
      - acme-corp.app3
      type: string
      pattern: '[^\s\\/]+'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer prefix returns 401.'
      name: Authorization
      in: header
