openapi: 3.2.0
info:
  title: Chili Piper Concierge API
  version: '1.0'
  description: 'Operations tagged concierge across 6 of this provider''s published API definitions: chili-piper-concierge-debugger-openapi.yaml, chili-piper-concierge-router-builder-openapi.yaml, chili-piper-concierge-router-configuration-openapi.yaml, chili-piper-meeting-inspector-openapi.yaml, chili-piper-no-show-analyzer-openapi.yaml, chili-piper-routing-audit-openapi.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
tags:
- name: concierge
paths:
  /v1/org/concierge/routers/concierge/list:
    post:
      tags:
      - concierge
      summary: Lists all concierge routers
      description: '[operation: concierge-list-routers]


        READ-ONLY


        Returns all Concierge routers in the org. A router evaluates inbound lead data and routes to teams/users via rules.


        - workspaceId (opt): restrict to one workspace


        →


        {routers: [{router: {id (routerId), name, slug, formMapping, settings, routing, meta}, dataFields: [...], workspaceId}]}


        Note: routerId is at routers[N].router.id; slug is at routers[N].router.slug


        see: concierge-logs (audit decisions, needs routerId+workspaceId), concierge-route-by-slug (execute routing, needs slug)'
      operationId: conciergeListRouters
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRoutersListResponse'
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/concierge/logs:
    post:
      tags:
      - concierge
      summary: Reads Concierge Logs
      description: '[operation: concierge-logs]


        READ-ONLY


        Fetches aggregated Concierge routing decision logs for a router in a time window (parallelism=4). Max window: 30 days.


        - workspaceId (req): query param; use workspace-list or concierge-list-routers


        - routerId (req): query param; use concierge-list-routers (routers[N].router.id)


        - start, end (req): query params; ISO-8601; max 30-day span


        → array of log entries, each with fields: id, status, trigger, assignments, triggeredAt, crmUrl, guestEmail, actionsStatus, sourceUrl, meetingId, routing, matchedPath (payload structure may change)


        see: concierge-list-routers (find routerId+workspaceId)'
      operationId: conciergeLogs
      parameters:
      - name: workspaceId
        in: query
        description: Id of the workspace
        required: true
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: routerId
        in: query
        description: Concierge Router Id
        required: true
        schema:
          type: string
          format: uuid
      - name: start
        in: query
        description: time of start such as 2025-01-08T13:46:18.681Z (ISO8601 format)
        required: true
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: time of end such as 2025-01-14T13:46:18.681Z (ISO8601 format)
        required: true
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Concierge logs. Payload structure might change.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: 'Invalid value for: query parameter workspaceId, Invalid value for: query parameter routerId, Invalid value for: query parameter start, Invalid value for: query parameter end'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - logs.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/concierge/routers/concierge:
    post:
      tags:
      - concierge
      summary: Create concierge router
      description: '[operation: concierge-router-create]


        MUTATING


        Creates a Concierge router and publishes it live in one step — there is no unpublished-draft state via the API. workspaceId must be a team workspace of this tenant (400 otherwise). The URL slug is derived from name on publish (there is no separate slug field). Triggers are a PRODUCT of optional kinds — set any combination of form (the Chili webform), inAppButton, and routerLink; supplying NONE auto-generates a minimal email-only Chili webform. A routerLink is what gives the router a shareable Router Link URL. branding and localizations are optional.


        - routing (req): ordered rules evaluated top-down, plus a mandatory catch-all fallback. Each row''s rule, when it matches, runs that row''s `outcome`; the catch-all `outcome` runs when no row matches:


        {routes: [{ruleId, outcome}], catchAll: outcome}


        outcome (one of):


        {type: "Schedule", assignment, meetingTypeId, timeout?, crmActions?}

        {type: "Redirect", url}


        Schedule assigns the lead and books a meeting type. assignment is {type: "Distribution", distributionId} (round-robin / ownership / whatever the distribution does) or {type: "User", userId} (a specific host). timeout (opt) {minutes, onTimeout} sets the no-show fallback; onTimeout is {type: "Landing"} or {type: "Url", url}; omit timeout for the default (10 min → Landing). crmActions (opt) is an ordered post-booking chain, each {type: "ConvertLead"} or {type: "Notify", slackChannel?} (omit slackChannel to notify the assigned host instead of a named channel). Redirect sends the lead to a URL instead of booking. ruleId is required on every row; an always-match route is the catchAll. routes may be empty (then only the catchAll applies).


        - form (opt): the Chili-hosted guest form fields the lead fills in; MUST include the email field (PersonEmail) or the create is rejected. Omit for a default email-only form:


        [{dataField, label, description?, required?, hidden?}]


        Note: dataField is a CRM data-field reference — a default field name (e.g. PersonEmail, PersonFirstName) or a custom-field UUID; a made-up name is rejected (400). label is the field''s display name; required toggles whether the guest must fill it. hidden (opt) is a PREFILLED value (a string) stored on the field but NOT shown to the guest — it is a value, not a show/hide flag; omit it for a normal visible field.


        - inAppButton (opt): an in-app-button trigger — the data fields the button collects; MUST include the email field (PersonEmail):


        [{dataField}]


        - routerLink (opt): a router-link trigger — gives the router a shareable Router Link URL; the fields its form collects; MUST include the email field (PersonEmail):


        [{dataField, label, required?, hidden?}]


        Note: dataField/label/required/hidden are as for form. A router-link field''s enrichment waterfall is not settable via the API (preserved if already configured in the Concierge app).


        - branding (opt): the booking page''s cover/heading/language — {coverImage?, headingText?, language?}


        - localizations (opt): per-language text overrides — {"": {"": ""}}


        →


        {id, workspaceId, name?, slug?, routing: {known, representable, rows: [{ruleId?, ruleType?, outcome}], catchAll?: {outcome}}, form?, inAppButton?, routerLink?, branding?, localizations?}


        Note: the returned routing is the lossy per-row summary (same shape as concierge-router-get), not the matrix you sent; form/inAppButton/routerLink/branding/localizations echo the created config (same shape as concierge-router-get)


        ⚠ if the final publish step fails the router is left behind as an UNPUBLISHED draft (typed 422); retrying the create mints ANOTHER draft — fix or delete the leftover in the Concierge app


        see: concierge-list-routers (find a workspaceId), rule-list (find ruleIds), distribution-list (find distributionIds), user-find (find userIds), meeting-type-list (find meetingTypeIds), concierge-router-update (replace config afterwards)'
      operationId: conciergeRouterCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeRouterCreate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.create
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/concierge/routers/concierge/{routerId}:
    get:
      tags:
      - concierge
      summary: Get concierge router
      description: '[operation: concierge-router-get]


        READ-ONLY


        Fetches one Concierge router: its identity, a lossy per-row summary of its routing, and its full-config dimensions (guest form, branding/cover, localizations). Call this before concierge-router-update to check routing.representable and form.representable — they tell you whether an update would be accepted or rejected as unrepresentable.


        →


        {id, workspaceId, name?, slug?, routing: {known, representable, rows: [{ruleId?, ruleType?, outcome}], catchAll?: {outcome}}, form?, inAppButton?, routerLink?, branding?, localizations?}

        outcome (one of): {type: "Schedule", distributionId?, userId?, meetingTypeId?} | {type: "Redirect", url?} | {type: "OwnerAssign"} | {type: "ContactOptions"} | {type: "CrmAction"} | {type: "Other", kind}

        form: {representable, fields: [{dataField, label, description?, required, hidden?}], readOnlyTriggers: [string]}

        inAppButton: {fields: [{dataField}]}

        routerLink: {fields: [{dataField, label, required, hidden?}]}

        branding: {coverImage?, headingText?, language?}

        localizations: {"": {"": ""}}


        Note: the routing summary is lossy by design — it NAMES each row''s outcome (including ones Edge can''t itself produce, e.g. Redirect/CrmAction) so you can see what the router does even when it was built in the app


        Note: routing.representable is true only when the current routing — both the draft tree and the published tree — is exactly what Edge''s create/update would have produced; when false, an update with a new routing may be rejected (edit it in the Concierge app instead). A router that has no routing tree yet also reports representable=false, but an update setting routing on it is still accepted (nothing is destroyed).


        Note: form.representable is true only when the router''s webform is a Chili form (or absent) — only then is a form update accepted. form.fields lists the editable Chili-form fields; form.readOnlyTriggers names trigger kinds Edge doesn''t edit here (only ThirdPartyForm — a third-party webform). inAppButton/routerLink (when present) are the router''s in-app-button / router-link triggers and ARE editable via concierge-router-update. branding/localizations are absent when unset.


        see: concierge-list-routers (browse to find a routerId), concierge-router-update (replace routing/form/branding/localizations)'
      operationId: conciergeRouterGet
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.read
    put:
      tags:
      - concierge
      summary: Update concierge router
      description: '[operation: concierge-router-update]


        MUTATING — IDEMPOTENT


        Edits a Concierge router and republishes it live.'
      operationId: conciergeRouterUpdate
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConciergeRouterUpdate'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConciergeRouter'
        '400':
          description: 'Invalid value for: path parameter routerId, Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.modify
    delete:
      tags:
      - concierge
      summary: Remove concierge router
      description: '[operation: concierge-router-delete]


        MUTATING — DESTRUCTIVE


        Deletes a Concierge router by id.


        - routerId (req): the router''s id (path)


        ⚠ irreversible via API; any embeds or links pointing at this router stop working


        see: concierge-list-routers or concierge-router-get (confirm the id before deleting)'
      operationId: conciergeRouterDelete
      parameters:
      - name: routerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: path parameter routerId'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - concierge.remove
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
components:
  schemas:
    CrmUpdateLeadOwnership:
      title: CrmUpdateLeadOwnership
      type: object
      required:
      - field
      properties:
        field:
          type: string
          pattern: '[^\s\\/]+'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
    CallMissedActions:
      title: CallMissedActions
      oneOf:
      - $ref: '#/components/schemas/Actions'
      - $ref: '#/components/schemas/Scheduling'
      discriminator:
        propertyName: type
        mapping:
          Actions: '#/components/schemas/Actions'
          Scheduling: '#/components/schemas/Scheduling'
    HubspotUpsertRecordSettings:
      title: HubspotUpsertRecordSettings
      type: object
      required:
      - noMatch
      - whenMatch
      properties:
        noMatch:
          $ref: '#/components/schemas/HubspotNoMatchBehaviour'
        whenMatch:
          $ref: '#/components/schemas/HubspotWhenMatchBehaviour'
    SendSlack:
      title: SendSlack
      type: object
      required:
      - type
      properties:
        channel:
          type: string
          minLength: 1
        type:
          type: string
          const: SendSlack
    EventRelatedTo:
      title: EventRelatedTo
      oneOf:
      - $ref: '#/components/schemas/Account'
      - $ref: '#/components/schemas/Campaign'
      - $ref: '#/components/schemas/Case'
      - $ref: '#/components/schemas/ExplicitObject'
      - $ref: '#/components/schemas/NoRelationNeeded'
      - $ref: '#/components/schemas/Opportunity'
      - $ref: '#/components/schemas/RelationDisabled'
      discriminator:
        propertyName: type
        mapping:
          Account: '#/components/schemas/Account'
          Campaign: '#/components/schemas/Campaign'
          Case: '#/components/schemas/Case'
          ExplicitObject: '#/components/schemas/ExplicitObject'
          NoRelationNeeded: '#/components/schemas/NoRelationNeeded'
          Opportunity: '#/components/schemas/Opportunity'
          RelationDisabled: '#/components/schemas/RelationDisabled'
    DoNothing:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    Map_Locale_Map_String_String:
      title: Map_Locale_Map_String_String
      type: object
      additionalProperties:
        $ref: '#/components/schemas/Map_String_String'
    DistributionV3:
      title: DistributionV3
      type: object
      required:
      - id
      - required
      - type
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        required:
          type: boolean
        type:
          type: string
          const: DistributionV3
    ProcessedThirdPartyFormTrigger:
      title: ProcessedThirdPartyFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedThirdPartyFormTrigger
    GenericSalesforceId:
      title: GenericSalesforceId
      type: string
      pattern: ^[a-zA-Z0-9]{18}
    Account:
      title: Account
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Account
    ConciergeRoutersListResponse:
      title: ConciergeRoutersListResponse
      type: object
      properties:
        routers:
          type: array
          items:
            $ref: '#/components/schemas/ExpandedRouterWithDataFields'
    RuleRoute:
      title: RuleRoute
      type: object
      required:
      - id
      - ruleIds
      - ruleType
      - 'yes'
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        ruleIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RuleId'
        ruleType:
          $ref: '#/components/schemas/RuleType'
        'yes':
          $ref: '#/components/schemas/YesActions'
        type:
          type: string
          const: RuleRoute
    AnotherDistributionV2:
      title: AnotherDistributionV2
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: AnotherDistributionV2
    Url:
      title: Url
      type: object
      required:
      - url
      - type
      properties:
        url:
          type: string
        forwardFormDataAsQueryParams:
          type: boolean
        delayBeforeRedirect:
          type: string
        type:
          type: string
          const: Url
    MeetingCreatedTarget:
      title: MeetingCreatedTarget
      description: use bookerInviteSettings and meetingHost
      deprecated: true
      oneOf:
      - $ref: '#/components/schemas/BookerCalendarIfExist'
      - $ref: '#/components/schemas/BookerInvitedIfExist'
      - $ref: '#/components/schemas/BookerNotInvited'
      discriminator:
        propertyName: type
        mapping:
          BookerCalendarIfExist: '#/components/schemas/BookerCalendarIfExist'
          BookerInvitedIfExist: '#/components/schemas/BookerInvitedIfExist'
          BookerNotInvited: '#/components/schemas/BookerNotInvited'
    MeetingTypeId:
      title: MeetingTypeId
      examples:
      - 4a8f2b3c-7d1e-4f9b-8a2c-3d5e6f789012
      type: string
      format: uuid
    NoRedirect1:
      title: NoRedirect
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRedirect
    DefaultDataFieldRef:
      title: DefaultDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          $ref: '#/components/schemas/DefaultDataFieldId'
        type:
          type: string
          const: DefaultDataFieldRef
    CatchAllRoute:
      title: CatchAllRoute
      type: object
      required:
      - 'yes'
      properties:
        'yes':
          $ref: '#/components/schemas/YesActions'
    Redirect:
      title: Redirect
      oneOf:
      - $ref: '#/components/schemas/Landing'
      - $ref: '#/components/schemas/NoRedirect1'
      - $ref: '#/components/schemas/Url'
      discriminator:
        propertyName: type
        mapping:
          Landing: '#/components/schemas/Landing'
          NoRedirect: '#/components/schemas/NoRedirect1'
          Url: '#/components/schemas/Url'
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    UseRule:
      title: UseRule
      type: object
      required:
      - required
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        required:
          type: boolean
        type:
          type: string
          const: UseRule
    CallSucceededActions:
      title: CallSucceededActions
      type: object
      required:
      - redirect
      properties:
        redirect:
          $ref: '#/components/schemas/CallSucceededRedirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
    SpamCheckRoute:
      title: SpamCheckRoute
      type: object
      required:
      - 'yes'
      - type
      properties:
        'yes':
          $ref: '#/components/schemas/YesActions'
        settings:
          $ref: '#/components/schemas/SpamCheckSettings'
        type:
          type: string
          const: SpamCheckRoute
    CustomDataFieldRef:
      title: CustomDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: uuid
        type:
          type: string
          const: CustomDataFieldRef
    DeleteEvent:
      title: DeleteEvent
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DeleteEvent
    DoNothing4:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    CreateLead:
      title: CreateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateLead
    TimeoutActions:
      title: TimeoutActions
      type: object
      required:
      - timeout
      - redirect
      properties:
        timeout:
          type: string
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
    ProcessedTriggers:
      title: ProcessedTriggers
      type: object
      required:
      - get
      - type
      properties:
        get:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedRouterTrigger'
        type:
          type: string
          const: ProcessedTriggers
    CreateContact:
      title: CreateContact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContact
    ProcessedRouterTrigger:
      title: ProcessedRouterTrigger
      oneOf:
      - $ref: '#/components/schemas/ProcessedChiliFormTrigger'
      - $ref: '#/components/schemas/ProcessedInAppButtonTrigger'
      - $ref: '#/components/schemas/ProcessedRouterLinkTrigger'
      - $ref: '#/components/schemas/ProcessedThirdPartyFormTrigger'
      discriminator:
        propertyName: type
        mapping:
          ProcessedChiliFormTrigger: '#/components/schemas/ProcessedChiliFormTrigger'
          ProcessedInAppButtonTrigger: '#/components/schemas/ProcessedInAppButtonTrigger'
          ProcessedRouterLinkTrigger: '#/components/schemas/ProcessedRouterLinkTrigger'
          ProcessedThirdPartyFormTrigger: '#/components/schemas/ProcessedThirdPartyFormTrigger'
    CrmConvertLead:
      title: CrmConvertLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CrmConvertLead
    NoRedirect:
      title: NoRedirect
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRedirect
    Case:
      title: Case
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Case
    YesActions:
      title: YesActions
      oneOf:
      - $ref: '#/components/schemas/CallRepSettings'
      - $ref: '#/components/schemas/DisplayContactSettings'
      - $ref: '#/components/schemas/RedirectActions'
      - $ref: '#/components/schemas/SchedulingSettings1'
      discriminator:
        propertyName: type
        mapping:
          CallRepSettings: '#/components/schemas/CallRepSettings'
          DisplayContactSettings: '#/components/schemas/DisplayContactSettings'
          RedirectActions: '#/components/schemas/RedirectActions'
          SchedulingSettings: '#/components/schemas/SchedulingSettings1'
    SchedulingActions:
      title: SchedulingActions
      type: object
      required:
      - redirect
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
    CrmUpdateContactFieldTarget:
      title: CrmUpdateContactFieldTarget
      type: string
      enum:
      - Contact
      - Account
      - Opportunity
      - Case
    CrmMultiUpdateField:
      title: CrmMultiUpdateField
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactField'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadField'
        type:
          type: string
          const: CrmMultiUpdateField
    ThisPathRuleUser:
      title: ThisPathRuleUser
      type: object
      required:
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ThisPathRuleUser
    OnHangUp:
      title: OnHangUp
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        type:
          type: string
          const: OnHangUp
    CrmCreateEvent:
      title: CrmCreateEvent
      type: object
      required:
      - relatedTo
      - meetingCancellationBehavior
      - guestsBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EventRelatedTo'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        guestsBehavior:
          $ref: '#/components/schemas/GuestsBehavior'
        type:
          type: string
          const: CrmCreateEvent
    AssignToTarget:
      title: AssignToTarget
      oneOf:
      - $ref: '#/components/schemas/AnotherDistributionV2'
      - $ref: '#/components/schemas/ThisPathRuleUser'
      - $ref: '#/components/schemas/ThisPathTeam'
      - $ref: '#/components/schemas/ThisPathUser'
      discriminator:
        propertyName: type
        mapping:
          AnotherDistributionV2: '#/components/schemas/AnotherDistributionV2'
          ThisPathRuleUser: '#/components/schemas/ThisPathRuleUser'
          ThisPathTeam: '#/components/schemas/ThisPathTeam'
          ThisPathUser: '#/components/schemas/ThisPathUser'
    BookerNotInvited:
      title: BookerNotInvited
      deprecated: true
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: BookerNotInvited
    HubspotNoMatchBehaviour:
      title: HubspotNoMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/CreateContact'
      - $ref: '#/components/schemas/CreateContactIfCompanyExists'
      - $ref: '#/components/schemas/DoNothing4'
      discriminator:
        propertyName: type
        mapping:
          CreateContact: '#/components/schemas/CreateContact'
          CreateContactIfCompanyExists: '#/components/schemas/CreateContactIfCompanyExists'
          DoNothing: '#/components/schemas/DoNothing4'
    Salesforce:
      title: Salesforce
      type: object
      required:
      - object
      - field
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        field:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Salesforce
    CallRepSettings:
      title: CallRepSettings
      type: object
      required:
      - meetingTypeIds
      - routeCallTo
      - pickUpTime
      - maximumCallAttempts
      - callSuccess
      - callMissed
      - type
      properties:
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        routeCallTo:
          $ref: '#/components/schemas/Assignment'
        pickUpTime:
          type: string
        maximumCallAttempts:
          type: integer
          format: int32
          exclusiveMinimum: 0
        callSuccess:
          $ref: '#/components/schemas/CallSucceededActions'
        callMissed:
          $ref: '#/components/schemas/CallMissedActions'
        type:
          type: string
          const: CallRepSettings
    RelativeDay1:
      title: RelativeDay
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          type: string
        type:
          type: string
          const: RelativeDay
    ProcessedChiliFormMapping:
      title: ProcessedChiliFormMapping
      type: object
      required:
      - dataField
      - label
      - description
      - required
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
        label:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        required:
          type: boolean
        hidden:
          type: string
    BookerCalendarIfExist:
      title: BookerCalendarIfExist
      deprecated: true
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: BookerCalendarIfExist
    NoRelationNeeded:
      title: NoRelationNeeded
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRelationNeeded
    OnPickUp:
      title: OnPickUp
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        type:
          type: string
          const: OnPickUp
    HubspotUpdateContactOwnershipTarget:
      title: HubspotUpdateContactOwnershipTarget
      type: string
      enum:
      - Contact
      - Company
    EngagementOwner:
      title: EngagementOwner
      oneOf:
      - $ref: '#/components/schemas/Assignee1'
      - $ref: '#/components/schemas/Booker'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/Assignee1'
          Booker: '#/components/schemas/Booker'
    Assignee1:
      title: Assignee
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Assignee
    NonCatchAllRoute:
      title: NonCatchAllRoute
      oneOf:
      - $ref: '#/components/schemas/RuleRoute'
      - $ref: '#/components/schemas/SpamCheckRoute'
      discriminator:
        propertyName: type
        mapping:
          RuleRoute: '#/components/schemas/RuleRoute'
          SpamCheckRoute: '#/components/schemas/SpamCheckRoute'
    ThisPathUser:
      title: ThisPathUser
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: ThisPathUser
    RuleId:
      title: RuleId
      examples:
      - 3b4c5d6e-7f8a-4b9c-9d0e-1f2a3b4c5d6e
      type: string
      pattern: '[^\s\\/]+'
    CallSucceededRedirect:
      title: CallSucceededRedirect
      oneOf:
      - $ref: '#/components/schemas/NoRedirect'
      - $ref: '#/components/schemas/OnHangUp'
      - $ref: '#/components/schemas/OnPickUp'
      discriminator:
        propertyName: type
        mapping:
          NoRedirect: '#/components/schemas/NoRedirect'
          OnHangUp: '#/components/schemas/OnHangUp'
          OnPickUp: '#/components/schemas/OnPickUp'
    DefaultDataFieldId:
      title: DefaultDataFieldId
      type: string
      enum:
      - PersonCity
      - PersonCountry
      - PersonEmail
      - PersonFirstName
      - PersonJobTitle
      - PersonLastName
      - PersonLinkedIn
      - Phone
      - PersonSeniority
      - PersonState
      - CompanyCity
      - CompanyCountry
      - CompanyDescription
      - CompanyDomain
      - CompanyIndustry
      - CompanyEmployees
      - CompanyEmployeesRange
      - CompanyLatestFundingAmount
      - CompanyTotalFundingAmount
      - CompanyLatestFundingDate
      - CompanyLinkedIn
      - CompanyName
      - CompanyPhone
      - CompanyRevenue
      - CompanyWebsite
      - RecentUtmCampaign
      - RecentUtmContent
      - RecentUtmMedium
      - RecentUtmSource
      - RecentUtmTerm
      - UtmCampaign
      - UtmContent
      - UtmMedium
      - UtmSource
      - UtmTerm
      - WebsiteSessionCount
      - SpamScore
      - DeanonymizedCompanyName
      - DeanonymizedCompanyDomain
      - DeanonymizedCompanyIndustry
      - DeanonymizedCompanySizeRange
      - DeanonymizedRevenueRange
      - DeanonymizedCountry
      - DeanonymizedConfidence
      - PersonPreferredLanguage
      - ChatWidgetRecentTargetedUrl
      - ChatWidgetRecentRespondedUrl
    DataFieldReference:
      title: DataFieldReference
      oneOf:
      - $ref: '#/components/schemas/CustomDataFieldRef'
      - $ref: '#/components/schemas/DefaultDataFieldRef'
      - $ref: '#/components/schemas/InternalDataFieldRef'
      discriminator:
        propertyName: type
        mapping:
          CustomDataFieldRef: '#/components/schemas/CustomDataFieldRef'
          DefaultDataFieldRef: '#/components/schemas/DefaultDataFieldRef'
          InternalDataFieldRef: '#/components/schemas/InternalDataFieldRef'
    DataFieldMappingsDto:
      title: DataFieldMappingsDto
      type: object
      required:
      - reference
      properties:
        reference:
          $ref: '#/components/schemas/DataFieldReference'
        mappings:
          type: array
          items:
            $ref: '#/components/schemas/DataFieldMapping'
    HubspotWhenMatchBehaviour:
      title: HubspotWhenMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/DoNothing5'
      - $ref: '#/components/schemas/UpdateContact'
      discriminator:
        propertyName: type
        mapping:
          DoNothing: '#/components/schemas/DoNothing5'
          UpdateContact: '#/components/schemas/UpdateContact'
    SchedulingSettings1:
      title: SchedulingSettings
      type: object
      required:
      - assignments
      - meetingTypeIds
      - meetingHost
      - scheduling
      - timeout
      - type
      properties:
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Assignment'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        meetingCreatedTarget:
          $ref: '#/components/schemas/MeetingCreatedTarget'
        bookerInviteSettings:
          $ref: '#/components/schemas/BookerInviteSettings'
        meetingHost:
          $ref: '#/components/schemas/MeetingHost'
        additionalAttendees:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/AdditionalAttendee'
        additionalNotificationRecipients:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        scheduling:
          $ref: '#/components/schemas/SchedulingActions'
        timeout:
          $ref: '#/components/schemas/TimeoutActions'
        type:
          type: string
          const: SchedulingSettings
    StaticValue1:
      title: StaticValue
      type: object
      required:
      - value
      - type
      properties:
        value: {}
        type:
          type: string
          const: StaticValue
    Ticket:
      title: Ticket
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Ticket
    RelativeWeek1:
      title: RelativeWeek
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          type: string
        type:
          type: string
          const: RelativeWeek
    ConciergeFormMappingProcessedV1:
      title: ConciergeFormMappingProcessedV1
      type: object
      required:
      - fields
      - emailField
      - type
      properties:
        fields:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        emailField:
          $ref: '#/components/schemas/ConciergeFormMappingEntry'
        phoneField:
          $ref: '#/components/schemas/ConciergeFormMappingEntry'
        type:
          type: string
          const: ConciergeFormMappingProcessedV1
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    UpdateContact:
      title: UpdateContact
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateContact
    Actions:
      title: Actions
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
        type:
          type: string
          const: Actions
    CrmUpsertRecord1:
      title: CrmUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/LeadOrContactSettings'
        type:
          type: string
          const: CrmUpsertRecord
    HubspotMultiUpdateOwnership:
      title: HubspotMultiUpdateOwnership
      type: object
      required:
      - assignTo
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactOwnership'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
          deprecated: true
        type:
          type: string
          const: HubspotMultiUpdateOwnership
    Scheduling:
      title: Scheduling
      type: object
      required:
      - scheduling
      - type
      properties:
        scheduling:
          $ref: '#/components/schemas/SchedulingSettings'
        type:
          type: string
          const: Scheduling
    SpamCheckSettings:
      title: SpamCheckSettings
      type: object
      required:
      - writeToDataField
      properties:
        writeToDataField:
          type: boolean
    EngagementRelatedTo:
      title: EngagementRelatedTo
      oneOf:
      - $ref: '#/components/schemas/Company'
      - $ref: '#/components/schemas/Deal'
      - $ref: '#/components/schemas/Ticket'
      discriminator:
        propertyName: type
        mapping:
          Company: '#/components/schemas/Company'
          Deal: '#/components/schemas/Deal'
          Ticket: '#/components/schemas/Ticket'
    HubspotUpsertRecord:
      title: HubspotUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/HubspotUpsertRecordSettings'
        type:
          type: string
          const: HubspotUpsertRecord
    ProcessedRouterLinkMapping:
      title: ProcessedRouterLinkMapping
      type: object
      required:
      - dataField
      - label
      - required
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
        label:
          type: string
          minLength: 1
        required:
          type: boolean
        hidden:
          type: string
        waterfallId:
          type: string
          pattern: '[^\s\\/]+'
    Deal:
      title: Deal
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Deal
    RelationDisabled:
      title: RelationDisabled
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: RelationDisabled
    MeetingCancellationBehavior:
      title: MeetingCancellationBehavior
      oneOf:
      - $ref: '#/components/schemas/DeleteEvent'
      - $ref: '#/components/schemas/DoNothing2'
      discriminator:
        propertyName: type
        mapping:
          DeleteEvent: '#/components/schemas/DeleteEvent'
          DoNothing: '#/components/schemas/DoNothing2'
    ExplicitObject:
      title: ExplicitObject
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/GenericSalesforceId'
        type:
          type: string
          const: ExplicitObject
    AttendeeId:
      title: AttendeeId
      oneOf:
      - $ref: '#/components/schemas/ExternalAttendeeId'
      - $ref: '#/components/schemas/UserAttendeeId'
      discriminator:
        propertyName: type
        mapping:
          ExternalAttendeeId: '#/components/schemas/ExternalAttendeeId'
          UserAttendeeId: '#/components/schemas/UserAttendeeId'
    MeetingHost:
      title: MeetingHost
      oneOf:
      - $ref: '#/components/schemas/Assignee2'
      - $ref: '#/components/schemas/Booker1'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/Assignee2'
          Booker: '#/components/schemas/Booker1'
    UpdateContactOrLead:
      title: UpdateContactOrLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateContactOrLead
    DoNothing1:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    InternalDataFieldRef:
      title: InternalDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          $ref: '#/components/schemas/InternalDataFieldId'
        type:
          type: string
          const: InternalDataFieldRef
    StaticDate:
      title: StaticDate
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: date-time
        type:
          type: string
          const: StaticDate
    AdditionalAttendee:
      title: AdditionalAttendee
      type: object
      required:
      - id
      - required
      properties:
        id:
          $ref: '#/components/schemas/AttendeeId'
        required:
          type: boolean
    ProcessedInAppButtonTrigger:
      title: ProcessedInAppButtonTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedInAppButtonMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedInAppButtonTrigger
    GuestsBehavior:
      title: GuestsBehavior
      oneOf:
      - $ref: '#/components/schemas/CreateEvents'
      - $ref: '#/components/schemas/DoNothing3'
      discriminator:
        propertyName: type
        mapping:
          CreateEvents: '#/components/schemas/CreateEvents'
          DoNothing: '#/components/schemas/DoNothing3'
    AssignTo:
      title: AssignTo
      type: object
      required:
      - target
      properties:
        target:
          $ref: '#/components/schemas/AssignToTarget'
    CrmUpdateContactOwnershipTarget:
      title: CrmUpdateContactOwnershipTarget
      type: string
      enum:
      - Contact
      - Account
      - Opportunity
      - Case
    UserAttendeeId:
      title: UserAttendeeId
      type: object
      required:
      - userId
      - type
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        type:
          type: string
          const: UserAttendeeId
    UpdateFieldValue:
      title: UpdateFieldValue
      oneOf:
      - $ref: '#/components/schemas/RelativeDay1'
      - $ref: '#/components/schemas/RelativeMonth1'
      - $ref: '#/components/schemas/RelativeWeek1'
      - $ref: '#/components/schemas/RelativeYear1'
      - $ref: '#/components/schemas/StaticDate'
      - $ref: '#/components/schemas/StaticValue1'
      discriminator:
        propertyName: type
        mapping:
          RelativeDay: '#/components/schemas/RelativeDay1'
          RelativeMonth: '#/components/schemas/RelativeMonth1'
          RelativeWeek: '#/components/schemas/RelativeWeek1'
          RelativeYear: '#/components/schemas/RelativeYear1'
          StaticDate: '#/components/schemas/StaticDate'
          StaticValue: '#/components/schemas/StaticValue1'
    Booker:
      title: Booker
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Booker
    Company:
      title: Company
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Company
    ExpandedRouter:
      title: ExpandedRouter
      type: object
      required:
      - id
      - name
      - slug
      - formMapping
      - acceptsRouting
      - routing
      - meta
      properties:
        id:
          $ref: '#/components/schemas/ConciergeRouterId'
        name:
          type: string
          pattern: '[^\n]{1,240}'
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        formMapping:
          $ref: '#/components/schemas/ConciergeFormMappingProcessed'
        settings:
          $ref: '#/components/schemas/ConciergeRouterSettings'
        acceptsRouting:
          type: boolean
        routing:
          $ref: '#/components/schemas/ExpandedRoutes'
        meta:
          $ref: '#/components/schemas/CrudMeta'
    HubspotUpdateContactOwnership:
      title: HubspotUpdateContactOwnership
      type: object
      required:
      - object
      - field
      properties:
        object:
          $ref: '#/components/schemas/HubspotUpdateContactOwnershipTarget'
        field:
          type: string
          pattern: '[^\s\\/]+'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
    CrmUpsertRecord:
      title: CrmUpsertRecord
      type: object
      required:
      - settings
      properties:
        settings:
          $ref: '#/components/schemas/LeadOrContactSettings'
    User3:
      title: User
      type: object
      required:
      - id
      - required
      - type
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        required:
          type: boolean
        type:
          type: string
          const: User
    ExecutableAction:
      title: ExecutableAction
      oneOf:
      - $ref: '#/components/schemas/CrmAddToCampaign'
      - $ref: '#/components/schemas/CrmConvertLead'
      - $ref: '#/components/schemas/CrmCreateEvent'
      - $ref: '#/components/schemas/CrmMultiUpdateField'
      - $ref: '#/components/schemas/CrmMultiUpdateOwnership'
      - $ref: '#/components/schemas/CrmUpsertRecord1'
      - $ref: '#/components/schemas/HubspotCreateEngagement'
      - $ref: '#/components/schemas/HubspotMultiUpdateField'
      - $ref: '#/components/schemas/HubspotMultiUpdateOwnership'
      - $ref: '#/components/schemas/HubspotUpsertRecord'
      - $ref: '#/components/schemas/Notify'
      discriminator:
        propertyName: type
        mapping:
          CrmAddToCampaign: '#/components/schemas/CrmAddToCampaign'
          CrmConvertLead: '#/components/schemas/CrmConvertLead'
          CrmCreateEvent: '#/components/schemas/CrmCreateEvent'
          CrmMultiUpdateField: '#/components/schemas/CrmMultiUpdateField'
          CrmMultiUpdateOwnership: '#/components/schemas/CrmMultiUpdateOwnership'
          CrmUpsertRecord: '#/components/schemas/CrmUpsertRecord1'
          HubspotCreateEngagement: '#/components/schemas/HubspotCreateEngagement'
          HubspotMultiUpdateField: '#/components/schemas/HubspotMultiUpdateField'
          HubspotMultiUpdateOwnership: '#/components/schemas/HubspotMultiUpdateOwnership'
          HubspotUpsertRecord: '#/components/schemas/HubspotUpsertRecord'
          Notify: '#/components/schemas/Notify'
    ExpandedRouterWithDataFields:
      title: ExpandedRouterWithDataFields
      type: object
      required:
      - router
      - workspaceId
      properties:
        router:
          $ref: '#/components/schemas/ExpandedRouter'
        dataFields:
          type: array
          items:
            $ref: '#/components/schemas/DataFieldMappingsDto'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
    CampaignId:
      title: CampaignId
      type: string
      pattern: ^(701)[a-zA-Z0-9]{15}
    WhenMatchBehaviour:
      title: WhenMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/DoNothing1'
      - $ref: '#/components/schemas/UpdateContactOrLead'
      - $ref: '#/components/schemas/UpdateLeadOnly'
      discriminator:
        propertyName: type
        mapping:
          DoNothing: '#/components/schemas/DoNothing1'
          UpdateContactOrLead: '#/components/schemas/UpdateContactOrLead'
          UpdateLeadOnly: '#/components/schemas/UpdateLeadOnly'
    SendEmail:
      title: SendEmail
      type: object
      required:
      - type
      properties:
        cc:
          type: array
          minItems: 1
          items:
            type: string
            pattern: .+@.+
        type:
          type: string
          const: SendEmail
    CrmUpdateLeadField:
      title: CrmUpdateLeadField
      type: object
      required:
      - field
      - value
      properties:
        field:
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    Booker1:
      title: Booker
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Booker
    HubspotCreateEngagement:
      title: HubspotCreateEngagement
      type: object
      required:
      - relatedTo
      - owner
      - meetingCancellationBehavior
      - type
      properties:
        relatedTo:
          $ref: '#/components/schemas/EngagementRelatedTo'
        owner:
          $ref: '#/components/schemas/EngagementOwner'
        meetingCancellationBehavior:
          $ref: '#/components/schemas/MeetingCancellationBehavior'
        type:
          type: string
          const: HubspotCreateEngagement
    ExternalAttendeeId:
      title: ExternalAttendeeId
      type: object
      required:
      - email
      - type
      properties:
        email:
          $ref: '#/components/schemas/Email'
        type:
          type: string
          const: ExternalAttendeeId
    ConciergeNotificationChannel:
      title: ConciergeNotificationChannel
      oneOf:
      - $ref: '#/components/schemas/SendEmail'
      - $ref: '#/components/schemas/SendSlack'
      discriminator:
        propertyName: type
        mapping:
          SendEmail: '#/components/schemas/SendEmail'
          SendSlack: '#/components/schemas/SendSlack'
    Opportunity:
      title: Opportunity
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Opportunity
    ThisPathTeam:
      title: ThisPathTeam
      type: object
      required:
      - id
      - type
      properties:
        id:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: ThisPathTeam
    ConciergeFormMappingEntry:
      title: ConciergeFormMappingEntry
      type: object
      required:
      - name
      - dataFieldRef
      properties:
        name:
          type: string
          minLength: 1
        dataFieldRef:
          $ref: '#/components/schemas/DataFieldRef'
        label:
          type: string
          minLength: 1
        waterfallId:
          type: string
          pattern: '[^\s\\/]+'
    HubspotUpdateContactField:
      title: HubspotUpdateContactField
      type: object
      required:
      - object
      - field
      - value
      properties:
        object:
          $ref: '#/components/schemas/HubspotUpdateContactFieldTarget'
        field:
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    Notify:
      title: Notify
      type: object
      required:
      - channels
      - assignTo
      - type
      properties:
        channels:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeNotificationChannel'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
        type:
          type: string
          const: Notify
    CrmMultiUpdateOwnership:
      title: CrmMultiUpdateOwnership
      type: object
      required:
      - assignTo
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateContactOwnership'
        lead:
          type: array
          items:
            $ref: '#/components/schemas/CrmUpdateLeadOwnership'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
          deprecated: true
        type:
          type: string
          const: CrmMultiUpdateOwnership
    ProcessedInAppButtonMapping:
      title: ProcessedInAppButtonMapping
      type: object
      required:
      - dataField
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
    Map_String_String:
      title: Map_String_String
      type: object
      additionalProperties:
        type: string
    LeadOrContactSettings:
      title: LeadOrContactSettings
      type: object
      required:
      - noMatch
      - whenMatch
      properties:
        noMatch:
          $ref: '#/components/schemas/NoMatchBehaviour'
        whenMatch:
          $ref: '#/components/schemas/WhenMatchBehaviour'
    DoNothing2:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    RelativeMonth1:
      title: RelativeMonth
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          type: string
        type:
          type: string
          const: RelativeMonth
    NoMatchBehaviour:
      title: NoMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/AlwaysCreateLead'
      - $ref: '#/components/schemas/CreateContactOrLead'
      - $ref: '#/components/schemas/CreateLead'
      - $ref: '#/components/schemas/DoNothing'
      discriminator:
        propertyName: type
        mapping:
          AlwaysCreateLead: '#/components/schemas/AlwaysCreateLead'
          CreateContactOrLead: '#/components/schemas/CreateContactOrLead'
          CreateLead: '#/components/schemas/CreateLead'
          DoNothing: '#/components/schemas/DoNothing'
    DataFieldMapping:
      title: DataFieldMapping
      oneOf:
      - $ref: '#/components/schemas/Hubspot'
      - $ref: '#/components/schemas/Marketo'
      - $ref: '#/components/schemas/Salesforce'
      discriminator:
        propertyName: type
        mapping:
          Hubspot: '#/components/schemas/Hubspot'
          Marketo: '#/components/schemas/Marketo'
          Salesforce: '#/components/schemas/Salesforce'
    CreateContactIfCompanyExists:
      title: CreateContactIfCompanyExists
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContactIfCompanyExists
    DataFieldRef:
      title: DataFieldRef
      type: string
      pattern: '[^\s\\/]+'
    HubspotUpdateContactFieldTarget:
      title: HubspotUpdateContactFieldTarget
      type: string
      enum:
      - Contact
      - Company
      - Deal
      - Ticket
    ConciergeFormMappingProcessed:
      title: ConciergeFormMappingProcessed
      oneOf:
      - $ref: '#/components/schemas/ConciergeFormMappingProcessedV1'
      - $ref: '#/components/schemas/ProcessedTriggers'
      discriminator:
        propertyName: type
        mapping:
          ConciergeFormMappingProcessedV1: '#/components/schemas/ConciergeFormMappingProcessedV1'
          ProcessedTriggers: '#/components/schemas/ProcessedTriggers'
    Assignee2:
      title: Assignee
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
          minimum: 0
        type:
          type: string
          const: Assignee
    SchedulingSettings:
      title: SchedulingSettings
      type: object
      required:
      - assignments
      - meetingTypeIds
      - meetingHost
      - scheduling
      - timeout
      properties:
        assignments:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Assignment'
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        meetingCreatedTarget:
          $ref: '#/components/schemas/MeetingCreatedTarget'
        bookerInviteSettings:
          $ref: '#/components/schemas/BookerInviteSettings'
        meetingHost:
          $ref: '#/components/schemas/MeetingHost'
        additionalAttendees:
          type: array
          uniqueItems: true
          items:
            $ref: '#/components/schemas/AdditionalAttendee'
        additionalNotificationRecipients:
          type: array
          minItems: 1
          items:
            type: string
            pattern: '[^\s\\/]+'
        scheduling:
          $ref: '#/components/schemas/SchedulingActions'
        timeout:
          $ref: '#/components/schemas/TimeoutActions'
    Marketo:
      title: Marketo
      type: object
      required:
      - object
      - field
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        field:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Marketo
    Hubspot:
      title: Hubspot
      type: object
      required:
      - object
      - property
      - overwrite
      - type
      properties:
        object:
          type: string
          pattern: '[^\s\\/]+'
        property:
          type: string
          pattern: '[^\s\\/]+'
        overwrite:
          type: boolean
        type:
          type: string
          const: Hubspot
    AlwaysCreateLead:
      title: AlwaysCreateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AlwaysCreateLead
    RelativeYear1:
      title: RelativeYear
      type: object
      required:
      - length
      - offset
      - timeZone
      - type
      properties:
        length:
          type: integer
          format: int32
          exclusiveMinimum: 0
        offset:
          type: integer
          format: int32
        timeZone:
          type: string
        type:
          type: string
          const: RelativeYear
    InternalDataFieldId:
      title: InternalDataFieldId
      type: string
      enum:
      - Timezone
      - RecentPageViewed
    CrmAddToCampaign:
      title: CrmAddToCampaign
      type: object
      required:
      - campaignId
      - memberStatus
      - type
      properties:
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        memberStatus:
          type: string
          minLength: 1
        type:
          type: string
          const: CrmAddToCampaign
    CreateEvents:
      title: CreateEvents
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateEvents
    ConciergeRouterSettings:
      title: ConciergeRouterSettings
      type: object
      properties:
        headerImage:
          type: string
        headingText:
          type: string
          minLength: 1
        language:
          type: string
          minLength: 1
        localizations:
          $ref: '#/components/schemas/Map_Locale_Map_String_String'
    ExpandedRoutes:
      title: ExpandedRoutes
      type: object
      required:
      - catchAll
      properties:
        sharedCrmUpsertRecord:
          $ref: '#/components/schemas/CrmUpsertRecord'
        rules:
          type: array
          items:
            $ref: '#/components/schemas/NonCatchAllRoute'
        catchAll:
          $ref: '#/components/schemas/CatchAllRoute'
    BookerInviteSettings:
      title: BookerInviteSettings
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
    Landing:
      title: Landing
      type: object
      required:
      - type
      properties:
        forwardFormDataAsQueryParams:
          type: boolean
        delayBeforeRedirect:
          type: string
        type:
          type: string
          const: Landing
    BookerInvitedIfExist:
      title: BookerInvitedIfExist
      deprecated: true
      type: object
      required:
      - autoDeclineOnBookersBehalf
      - required
      - type
      properties:
        autoDeclineOnBookersBehalf:
          type: boolean
        required:
          type: boolean
        type:
          type: string
          const: BookerInvitedIfExist
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    DoNothing3:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    CrmUpdateContactOwnership:
      title: CrmUpdateContactOwnership
      type: object
      required:
      - object
      - field
      properties:
        object:
          $ref: '#/components/schemas/CrmUpdateContactOwnershipTarget'
        field:
          type: string
          pattern: '[^\s\\/]+'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
    CreateContactOrLead:
      title: CreateContactOrLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CreateContactOrLead
    ConciergeRouterId:
      title: ConciergeRouterId
      examples:
      - a2b9c4d5-e8f7-4b2a-9c3d-5e6f7a8b9c0d
      type: string
      format: uuid
    HubspotMultiUpdateField:
      title: HubspotMultiUpdateField
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactField'
        type:
          type: string
          const: HubspotMultiUpdateField
    CrmUpdateContactField:
      title: CrmUpdateContactField
      type: object
      required:
      - object
      - field
      - value
      properties:
        object:
          $ref: '#/components/schemas/CrmUpdateContactFieldTarget'
        field:
          type: string
          pattern: '[^\s\\/]+'
        value:
          $ref: '#/components/schemas/UpdateFieldValue'
    DisplayContactSettings:
      title: DisplayContactSettings
      type: object
      required:
      - call
      - meeting
      - timeoutDuration
      - type
      properties:
        call:
          $ref: '#/components/schemas/CallRepSettings1'
        meeting:
          $ref: '#/components/schemas/SchedulingSettings'
        timeoutDuration:
          type: string
        type:
          type: string
          const: DisplayContactSettings
    ProcessedRouterLinkTrigger:
      title: ProcessedRouterLinkTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedRouterLinkMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedRouterLinkTrigger
    DoNothing5:
      title: DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    RedirectActions:
      title: RedirectActions
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction'
        type:
          type: string
          const: RedirectActions
    Campaign:
      title: Campaign
      type: object
      required:
      - campaignId
      - type
      properties:
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        type:
          type: string
          const: Campaign
    CallRepSettings1:
      title: CallRepSettings
      type: object
      required:
      - meetingTypeIds
      - routeCallTo
      - pickUpTime
      - maximumCallAttempts
      - callSuccess
      - callMissed
      properties:
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        routeCallTo:
          $ref: '#/components/schemas/Assignment'
        pickUpTime:
          type: string
        maximumCallAttempts:
          type: integer
          format: int32
          exclusiveMinimum: 0
        callSuccess:
          $ref: '#/components/schemas/CallSucceededActions'
        callMissed:
          $ref: '#/components/schemas/CallMissedActions'
    UpdateLeadOnly:
      title: UpdateLeadOnly
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateLeadOnly
    RuleType:
      title: RuleType
      type: string
      enum:
      - Boolean
      - Ownership
    ProcessedChiliFormTrigger:
      title: ProcessedChiliFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedChiliFormMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedChiliFormTrigger
    Assignment:
      title: Assignment
      oneOf:
      - $ref: '#/components/schemas/DistributionV3'
      - $ref: '#/components/schemas/UseRule'
      - $ref: '#/components/schemas/User3'
      discriminator:
        propertyName: type
        mapping:
          DistributionV3: '#/components/schemas/DistributionV3'
          UseRule: '#/components/schemas/UseRule'
          User: '#/components/schemas/User3'
    DistributionId:
      title: DistributionId
      examples:
      - 7f8a1b2c-3d4e-4f5a-8b9c-0d1e2f3a4b5c
      type: string
      pattern: '[^\s\\/]+'
    CrudMeta:
      title: CrudMeta
      type: object
      required:
      - createdBy
      - updatedBy
      - createdOn
      - updatedOn
      properties:
        createdBy:
          $ref: '#/components/schemas/UserId'
        updatedBy:
          $ref: '#/components/schemas/UserId'
        createdOn:
          type: string
          format: date-time
        updatedOn:
          type: string
          format: date-time
    RouterForm:
      title: RouterForm
      type: object
      required:
      - representable
      properties:
        representable:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/RouterFormField'
        readOnlyTriggers:
          type: array
          items:
            type: string
    RouterRouting:
      title: RouterRouting
      type: object
      required:
      - catchAll
      properties:
        routes:
          type: array
          items:
            $ref: '#/components/schemas/RouteRow'
        catchAll:
          $ref: '#/components/schemas/RouteOutcome'
    CallMissedActions_2:
      title: CallMissedActions
      oneOf:
      - $ref: '#/components/schemas/CallMissedActions_Actions'
      - $ref: '#/components/schemas/CallMissedActions_Scheduling'
      discriminator:
        propertyName: type
        mapping:
          Actions: '#/components/schemas/CallMissedActions_Actions'
          Scheduling: '#/components/schemas/CallMissedActions_Scheduling'
    ProcessedRouterTrigger_ProcessedThirdPartyFormTrigger:
      title: ProcessedRouterTrigger_ProcessedThirdPartyFormTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedThirdPartyFormTrigger
    UpdateFieldValue_StaticValue:
      title: UpdateFieldValue_StaticValue
      type: object
      required:
      - value
      - type
      properties:
        value: {}
        type:
          type: string
          const: StaticValue
    MeetingCreatedTarget_BookerNotInvited:
      title: MeetingCreatedTarget_BookerNotInvited
      deprecated: true
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: BookerNotInvited
    EventRelatedTo_2:
      title: EventRelatedTo
      oneOf:
      - $ref: '#/components/schemas/EventRelatedTo_Account'
      - $ref: '#/components/schemas/EventRelatedTo_Campaign'
      - $ref: '#/components/schemas/EventRelatedTo_Case'
      - $ref: '#/components/schemas/EventRelatedTo_ExplicitObject'
      - $ref: '#/components/schemas/EventRelatedTo_NoRelationNeeded'
      - $ref: '#/components/schemas/EventRelatedTo_Opportunity'
      - $ref: '#/components/schemas/EventRelatedTo_RelationDisabled'
      discriminator:
        propertyName: type
        mapping:
          Account: '#/components/schemas/EventRelatedTo_Account'
          Campaign: '#/components/schemas/EventRelatedTo_Campaign'
          Case: '#/components/schemas/EventRelatedTo_Case'
          ExplicitObject: '#/components/schemas/EventRelatedTo_ExplicitObject'
          NoRelationNeeded: '#/components/schemas/EventRelatedTo_NoRelationNeeded'
          Opportunity: '#/components/schemas/EventRelatedTo_Opportunity'
          RelationDisabled: '#/components/schemas/EventRelatedTo_RelationDisabled'
    YesActions_CallRepSettings:
      title: YesActions_CallRepSettings
      type: object
      required:
      - meetingTypeIds
      - routeCallTo
      - pickUpTime
      - maximumCallAttempts
      - callSuccess
      - callMissed
      - type
      properties:
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        routeCallTo:
          $ref: '#/components/schemas/Assignment_2'
        pickUpTime:
          type: string
        maximumCallAttempts:
          type: integer
          format: int32
          exclusiveMinimum: 0
        callSuccess:
          $ref: '#/components/schemas/CallSucceededActions'
        callMissed:
          $ref: '#/components/schemas/CallMissedActions_2'
        type:
          type: string
          const: CallRepSettings
    AssignToTarget_ThisPathRuleUser:
      title: AssignToTarget_ThisPathRuleUser
      type: object
      required:
      - type
      properties:
        id:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ThisPathRuleUser
    UpdateFieldValue_StaticDate:
      title: UpdateFieldValue_StaticDate
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: date-time
        type:
          type: string
          const: StaticDate
    Redirect_NoRedirect:
      title: Redirect_NoRedirect
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRedirect
    MeetingCreatedTarget_2:
      title: MeetingCreatedTarget
      description: use bookerInviteSettings and meetingHost
      deprecated: true
      oneOf:
      - $ref: '#/components/schemas/MeetingCreatedTarget_BookerCalendarIfExist'
      - $ref: '#/components/schemas/MeetingCreatedTarget_BookerInvitedIfExist'
      - $ref: '#/components/schemas/MeetingCreatedTarget_BookerNotInvited'
      discriminator:
        propertyName: type
        mapping:
          BookerCalendarIfExist: '#/components/schemas/MeetingCreatedTarget_BookerCalendarIfExist'
          BookerInvitedIfExist: '#/components/schemas/MeetingCreatedTarget_BookerInvitedIfExist'
          BookerNotInvited: '#/components/schemas/MeetingCreatedTarget_BookerNotInvited'
    RoutingOutcome_CrmAction:
      title: RoutingOutcome_CrmAction
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CrmAction
    DataFieldReference_DefaultDataFieldRef:
      title: DataFieldReference_DefaultDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          $ref: '#/components/schemas/DefaultDataFieldId_2'
        type:
          type: string
          const: DefaultDataFieldRef
    Redirect_2:
      title: Redirect
      oneOf:
      - $ref: '#/components/schemas/Redirect_Landing'
      - $ref: '#/components/schemas/Redirect_NoRedirect'
      - $ref: '#/components/schemas/Redirect_Url'
      discriminator:
        propertyName: type
        mapping:
          Landing: '#/components/schemas/Redirect_Landing'
          NoRedirect: '#/components/schemas/Redirect_NoRedirect'
          Url: '#/components/schemas/Redirect_Url'
    YesActions_RedirectActions:
      title: YesActions_RedirectActions
      type: object
      required:
      - redirect
      - type
      properties:
        redirect:
          $ref: '#/components/schemas/Redirect_2'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/ExecutableAction_2'
        type:
          type: string
          const: RedirectActions
    YesActions_DisplayContactSettings:
      title: YesActions_DisplayContactSettings
      type: object
      required:
      - call
      - meeting
      - timeoutDuration
      - type
      properties:
        call:
          $ref: '#/components/schemas/CallRepSettings_2'
        meeting:
          $ref: '#/components/schemas/SchedulingSettings'
        timeoutDuration:
          type: string
        type:
          type: string
          const: DisplayContactSettings
    NoMatchBehaviour_DoNothing:
      title: NoMatchBehaviour_DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    DataFieldReference_CustomDataFieldRef:
      title: DataFieldReference_CustomDataFieldRef
      type: object
      required:
      - value
      - type
      properties:
        value:
          type: string
          format: uuid
        type:
          type: string
          const: CustomDataFieldRef
    NonCatchAllRoute_RuleRoute:
      title: NonCatchAllRoute_RuleRoute
      type: object
      required:
      - id
      - ruleIds
      - ruleType
      - 'yes'
      - type
      properties:
        id:
          $ref: '#/components/schemas/RuleId'
        ruleIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/RuleId'
        ruleType:
          $ref: '#/components/schemas/RuleType'
        'yes':
          $ref: '#/components/schemas/YesActions_2'
        type:
          type: string
          const: RuleRoute
    EngagementOwner_Booker:
      title: EngagementOwner_Booker
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Booker
    ExecutableAction_HubspotMultiUpdateOwnership:
      title: ExecutableAction_HubspotMultiUpdateOwnership
      type: object
      required:
      - assignTo
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactOwnership'
        assignTo:
          $ref: '#/components/schemas/AssignTo'
          deprecated: true
        type:
          type: string
          const: HubspotMultiUpdateOwnership
    ProcessedRouterTrigger_2:
      title: ProcessedRouterTrigger
      oneOf:
      - $ref: '#/components/schemas/ProcessedRouterTrigger_ProcessedChiliFormTrigger'
      - $ref: '#/components/schemas/ProcessedRouterTrigger_ProcessedInAppButtonTrigger'
      - $ref: '#/components/schemas/ProcessedRouterTrigger_ProcessedRouterLinkTrigger'
      - $ref: '#/components/schemas/ProcessedRouterTrigger_ProcessedThirdPartyFormTrigger'
      discriminator:
        propertyName: type
        mapping:
          ProcessedChiliFormTrigger: '#/components/schemas/ProcessedRouterTrigger_ProcessedChiliFormTrigger'
          ProcessedInAppButtonTrigger: '#/components/schemas/ProcessedRouterTrigger_ProcessedInAppButtonTrigger'
          ProcessedRouterLinkTrigger: '#/components/schemas/ProcessedRouterTrigger_ProcessedRouterLinkTrigger'
          ProcessedThirdPartyFormTrigger: '#/components/schemas/ProcessedRouterTrigger_ProcessedThirdPartyFormTrigger'
    RouteAssignment_Distribution:
      title: RouteAssignment_Distribution
      type: object
      required:
      - distributionId
      - type
      properties:
        distributionId:
          $ref: '#/components/schemas/DistributionId'
        type:
          type: string
          const: Distribution
    ConciergeFormMappingProcessed_ConciergeFormMappingProcessedV1:
      title: ConciergeFormMappingProcessed_ConciergeFormMappingProcessedV1
      type: object
      required:
      - fields
      - emailField
      - type
      properties:
        fields:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ConciergeFormMappingEntry'
        emailField:
          $ref: '#/components/schemas/ConciergeFormMappingEntry'
        phoneField:
          $ref: '#/components/schemas/ConciergeFormMappingEntry'
        type:
          type: string
          const: ConciergeFormMappingProcessedV1
    ExecutableAction_CrmAddToCampaign:
      title: ExecutableAction_CrmAddToCampaign
      type: object
      required:
      - campaignId
      - memberStatus
      - type
      properties:
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        memberStatus:
          type: string
          minLength: 1
        type:
          type: string
          const: CrmAddToCampaign
    YesActions_2:
      title: YesActions
      oneOf:
      - $ref: '#/components/schemas/YesActions_CallRepSettings'
      - $ref: '#/components/schemas/YesActions_DisplayContactSettings'
      - $ref: '#/components/schemas/YesActions_RedirectActions'
      - $ref: '#/components/schemas/YesActions_SchedulingSettings'
      discriminator:
        propertyName: type
        mapping:
          CallRepSettings: '#/components/schemas/YesActions_CallRepSettings'
          DisplayContactSettings: '#/components/schemas/YesActions_DisplayContactSettings'
          RedirectActions: '#/components/schemas/YesActions_RedirectActions'
          SchedulingSettings: '#/components/schemas/YesActions_SchedulingSettings'
    ExecutableAction_CrmUpsertRecord:
      title: ExecutableAction_CrmUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/LeadOrContactSettings'
        type:
          type: string
          const: CrmUpsertRecord
    CallSucceededRedirect_NoRedirect:
      title: CallSucceededRedirect_NoRedirect
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: NoRedirect
    CrmAction_Notify:
      title: CrmAction_Notify
      type: object
      required:
      - type
      properties:
        slackChannel:
          type: string
        type:
          type: string
          const: Notify
    NonCatchAllRoute_SpamCheckRoute:
      title: NonCatchAllRoute_SpamCheckRoute
      type: object
      required:
      - 'yes'
      - type
      properties:
        'yes':
          $ref: '#/components/schemas/YesActions_2'
        settings:
          $ref: '#/components/schemas/SpamCheckSettings'
        type:
          type: string
          const: SpamCheckRoute
    RouteRow:
      title: RouteRow
      type: object
      required:
      - outcome
      properties:
        ruleId:
          type: string
          pattern: '[^\s\\/]+'
        outcome:
          $ref: '#/components/schemas/RouteOutcome'
    CallMissedActions_Scheduling:
      title: CallMissedActions_Scheduling
      type: object
      required:
      - scheduling
      - type
      properties:
        scheduling:
          $ref: '#/components/schemas/SchedulingSettings'
        type:
          type: string
          const: Scheduling
    NoMatchBehaviour_AlwaysCreateLead:
      title: NoMatchBehaviour_AlwaysCreateLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: AlwaysCreateLead
    ExecutableAction_HubspotMultiUpdateField:
      title: ExecutableAction_HubspotMultiUpdateField
      type: object
      required:
      - type
      properties:
        contact:
          type: array
          items:
            $ref: '#/components/schemas/HubspotUpdateContactField'
        type:
          type: string
          const: HubspotMultiUpdateField
    WhenMatchBehaviour_UpdateContactOrLead:
      title: WhenMatchBehaviour_UpdateContactOrLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: UpdateContactOrLead
    RoutingOutcome_Other:
      title: RoutingOutcome_Other
      type: object
      required:
      - kind
      - type
      properties:
        kind:
          type: string
        type:
          type: string
          const: Other
    ExecutableAction_CrmConvertLead:
      title: ExecutableAction_CrmConvertLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: CrmConvertLead
    AssignToTarget_2:
      title: AssignToTarget
      oneOf:
      - $ref: '#/components/schemas/AssignToTarget_AnotherDistributionV2'
      - $ref: '#/components/schemas/AssignToTarget_ThisPathRuleUser'
      - $ref: '#/components/schemas/AssignToTarget_ThisPathTeam'
      - $ref: '#/components/schemas/AssignToTarget_ThisPathUser'
      discriminator:
        propertyName: type
        mapping:
          AnotherDistributionV2: '#/components/schemas/AssignToTarget_AnotherDistributionV2'
          ThisPathRuleUser: '#/components/schemas/AssignToTarget_ThisPathRuleUser'
          ThisPathTeam: '#/components/schemas/AssignToTarget_ThisPathTeam'
          ThisPathUser: '#/components/schemas/AssignToTarget_ThisPathUser'
    HubspotNoMatchBehaviour_2:
      title: HubspotNoMatchBehaviour
      oneOf:
      - $ref: '#/components/schemas/HubspotNoMatchBehaviour_CreateContact'
      - $ref: '#/components/schemas/HubspotNoMatchBehaviour_CreateContactIfCompanyExists'
      - $ref: '#/components/schemas/HubspotNoMatchBehaviour_DoNothing'
      discriminator:
        propertyName: type
        mapping:
          CreateContact: '#/components/schemas/HubspotNoMatchBehaviour_CreateContact'
          CreateContactIfCompanyExists: '#/components/schemas/HubspotNoMatchBehaviour_CreateContactIfCompanyExists'
          DoNothing: '#/components/schemas/HubspotNoMatchBehaviour_DoNothing'
    CallRepSettings_2:
      title: CallRepSettings
      type: object
      required:
      - meetingTypeIds
      - routeCallTo
      - pickUpTime
      - maximumCallAttempts
      - callSuccess
      - callMissed
      properties:
        meetingTypeIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/MeetingTypeId'
        routeCallTo:
          $ref: '#/components/schemas/Assignment_2'
        pickUpTime:
          type: string
        maximumCallAttempts:
          type: integer
          format: int32
          exclusiveMinimum: 0
        callSuccess:
          $ref: '#/components/schemas/CallSucceededActions'
        callMissed:
          $ref: '#/components/schemas/CallMissedActions_2'
    EventRelatedTo_Case:
      title: EventRelatedTo_Case
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: Case
    RoutingOutcome_OwnerAssign:
      title: RoutingOutcome_OwnerAssign
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: OwnerAssign
    RouterRoutingSummary:
      title: RouterRoutingSummary
      type: object
      required:
      - known
      - representable
      properties:
        known:
          type: boolean
        representable:
          type: boolean
        rows:
          type: array
          items:
            $ref: '#/components/schemas/RoutingRowSummary'
        catchAll:
          $ref: '#/components/schemas/RoutingCatchAllSummary'
    CrmAction_ConvertLead:
      title: CrmAction_ConvertLead
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: ConvertLead
    RouteOutcome_Redirect:
      title: RouteOutcome_Redirect
      type: object
      required:
      - url
      - type
      properties:
        url:
          examples:
          - https://example.com
          type: string
        type:
          type: string
          const: Redirect
    RouteOutcome:
      title: RouteOutcome
      oneOf:
      - $ref: '#/components/schemas/RouteOutcome_Redirect'
      - $ref: '#/components/schemas/RouteOutcome_Schedule'
      discriminator:
        propertyName: type
        mapping:
          Redirect: '#/components/schemas/RouteOutcome_Redirect'
          Schedule: '#/components/schemas/RouteOutcome_Schedule'
    ProcessedRouterTrigger_ProcessedInAppButtonTrigger:
      title: ProcessedRouterTrigger_ProcessedInAppButtonTrigger
      type: object
      required:
      - mapping
      - email
      - type
      properties:
        mapping:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProcessedInAppButtonMapping'
        email:
          $ref: '#/components/schemas/DataFieldRef'
        phone:
          type: string
          pattern: '[^\s\\/]+'
        type:
          type: string
          const: ProcessedInAppButtonTrigger
    EngagementOwner_2:
      title: EngagementOwner
      oneOf:
      - $ref: '#/components/schemas/EngagementOwner_Assignee'
      - $ref: '#/components/schemas/EngagementOwner_Booker'
      discriminator:
        propertyName: type
        mapping:
          Assignee: '#/components/schemas/EngagementOwner_Assignee'
          Booker: '#/components/schemas/EngagementOwner_Booker'
    HubspotNoMatchBehaviour_DoNothing:
      title: HubspotNoMatchBehaviour_DoNothing
      type: object
      required:
      - type
      properties:
        type:
          type: string
          const: DoNothing
    ConciergeNotificationChannel_SendEmail:
      title: ConciergeNotificationChannel_SendEmail
      type: object
      required:
      - type
      properties:
        cc:
          type: array
          minItems: 1
          items:
            type: string
            pattern: .+@.+
        type:
          type: string
          const: SendEmail
    NonCatchAllRoute_2:
      title: NonCatchAllRoute
      oneOf:
      - $ref: '#/components/schemas/NonCatchAllRoute_RuleRoute'
      - $ref: '#/components/schemas/NonCatchAllRoute_SpamCheckRoute'
      discriminator:
        propertyName: type
        mapping:
          RuleRoute: '#/components/schemas/NonCatchAllRoute_RuleRoute'
          SpamCheckRoute: '#/components/schemas/NonCatchAllRoute_SpamCheckRoute'
    MeetingHost_Assignee:
      title: MeetingHost_Assignee
      type: object
      required:
      - index
      - type
      properties:
        index:
          type: integer
          format: int32
          minimum: 0
        type:
          type: string
          const: Assignee
    ExecutableAction_HubspotUpsertRecord:
      title: ExecutableAction_HubspotUpsertRecord
      type: object
      required:
      - settings
      - type
      properties:
        settings:
          $ref: '#/components/schemas/HubspotUpsertRecordSettings'
        type:
          type: string
          const: HubspotUpsertRecord
    RouterFormField:
      title: RouterFormField
      type: object
      required:
      - dataField
      - label
      - required
      properties:
        dataField:
          $ref: '#/components/schemas/DataFieldRef'
        label:
          type: string
          minLength: 1
        description:
          type: string
          minLength: 1
        required:
          type: boolean
        hidden:
          type: string
    CallSucceededRedirect_2:
      title: CallSucceededRedirect
      oneOf:
      - $ref: '#/components/schemas/CallSucceededRedirect_NoRedirect'
      - $ref: '#/components/schemas/CallSucceededRedirect_OnHangUp'
      - $ref: '#/components/schemas/CallSucceededRedirect_OnPickUp'
      discriminator:
        propertyName: type
        mapping:
          NoRedirect: '#/components/schemas/CallSucceededRedirect_NoRedirect'
          OnHangUp: '#/components/schemas/CallSucceededRedirect_OnHangUp'
          OnPickUp: '#/components/schemas/CallSucceededRedirect_OnPickUp'
    DefaultDataFieldId_2:
      title: DefaultDataFieldId
      type: string
      enum:
      - PersonCity
      - PersonCountry
      - PersonEmail
      - PersonFirstName
      - PersonJobTitle
      - PersonLastName
      - PersonLinkedIn
      - Phone
      - PersonSeniority
      - PersonState
      - CompanyCity
      - CompanyCountry
      - CompanyDescription
      - CompanyDomain
      - CompanyIndustry
      - CompanyEmployees
      - CompanyEmployeesRange
      - CompanyLatestFundingAmount
      - CompanyTotalFundingAmount
      - CompanyLatestFundingDate
      - CompanyLinkedIn
      - CompanyName
      - CompanyPhone
      - CompanyRevenue
      - CompanyWebsite
      - RecentUtmCampaign
      - RecentUtmContent
      - RecentUtmMedium
      - RecentUtmSource
      - RecentUtmTerm
      - UtmCampaign
      - UtmContent
      - UtmMedium
      - UtmSource
[...]
