openapi: 3.2.0
info:
  title: Chili Piper Workspace API
  version: '1.0'
  description: 'Operations tagged workspace across 16 of this provider''s published API definitions: chili-piper-chat-conversation-inspector-openapi.yaml, chili-piper-concierge-debugger-openapi.yaml, chili-piper-concierge-router-builder-openapi.yaml, chili-piper-concierge-router-configuration-openapi.yaml, chili-piper-distribution-analysis-openapi.yaml, chili-piper-distro-debugger-openapi.yaml, chili-piper-distro-router-configuration-openapi.yaml, chili-piper-handoff-router-configuration-openapi.yaml…'
servers:
- url: https://fire.chilipiper.com/api/fire-edge
  description: Production
security:
- apiKeyAuth: []
tags:
- name: Workspace
paths:
  /v1/org/workspace:
    get:
      tags:
      - Workspace
      summary: Read all workspaces
      description: '[operation: workspace-list]


        READ-ONLY


        Lists the workspaces that partition the org and yields the workspaceId most other calls need to scope their work. Hierarchy: Tenant → Workspaces → Teams → Users. Paginated (default pageSize 200).


        →


        [{workspaceId, name, settings}]


        see: workspace-list-users (members), workspace-add/remove-users (manage membership), meeting-list/export (filter by workspaceId), concierge-logs (filter by workspaceId)'
      operationId: workspaceList
      parameters:
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_Workspace'
        '400':
          description: 'Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/workspace/users:
    get:
      tags:
      - Workspace
      summary: Read all users (or in a workspace)
      description: '[operation: workspace-list-users]


        READ-ONLY


        Returns users in a workspace, or all org users if no workspaceId given.


        - workspaceId (opt): use workspace-list; omit for org-wide listing


        - page (opt), pageSize (opt, default 200)


        →


        {results: [{userId, email, name, roles, licenses, workspaceMemberships}]}


        see: workspace-add/remove-users (manage membership), user-find-by-filter (advanced multi-field filtering)'
      operationId: workspaceListUsers
      parameters:
      - name: workspaceId
        in: query
        required: false
        schema:
          type: string
          pattern: '[^\s\\/]+'
      - name: page
        in: query
        description: Page number. First page has index 0.
        required: false
        schema:
          default: 0
          type: integer
          format: int64
          minimum: 0
        example: 0
      - name: pageSize
        in: query
        description: Number of items per page. Maximum is 50
        required: false
        schema:
          default: 10
          type: integer
          format: int64
          exclusiveMinimum: 0
        example: 10
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResult_User'
        '400':
          description: 'Invalid value for: query parameter workspaceId, Invalid value for: query parameter page, Invalid value for: query parameter pageSize'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.read
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/workspace/users/add:
    post:
      tags:
      - Workspace
      summary: Add users to a workspace
      description: '[operation: workspace-add-users]


        MUTATING — IDEMPOTENT


        Adds users to a workspace. Already-members are silently skipped.


        - workspaceId (req): use workspace-list


        - userIds (req): non-empty list; use user-find


        →


        {}


        see: workspace-list (find workspaceId), user-find (resolve userIds), workspace-list-users (verify after)'
      operationId: workspaceAddUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUsersToWorkspaceRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.modify
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
  /v1/org/workspace/users/remove:
    post:
      tags:
      - Workspace
      summary: Remove users from a workspace
      description: '[operation: workspace-remove-users]


        MUTATING — IDEMPOTENT


        Removes users from a workspace. Other workspace memberships unaffected. Team memberships NOT affected.


        - workspaceId (req): use workspace-list


        - userIds (req): non-empty list


        →


        {}


        ⚠ may affect active distributions and routing rules within the workspace


        see: workspace-list (find workspaceId), workspace-list-users (verify after), workspace-remove-users-all (all workspaces at once), team-remove-users (for team offboarding)'
      operationId: workspaceRemoveUsers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveUserFromWorkspaceRequest'
        required: true
      responses:
        '200':
          description: ''
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
            X-Robots-Tag:
              required: true
              schema:
                type: string
            Pragma:
              required: true
              schema:
                type: string
            Expires:
              required: true
              schema:
                type: string
        '400':
          description: 'Invalid value for: body'
          content:
            text/plain:
              schema:
                type: string
        default:
          description: ''
          headers:
            Location:
              required: false
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - errorCode
                - errorMessage
                properties:
                  errorCode:
                    type: string
                  errorMessage:
                    type: string
                  arguments:
                    $ref: '#/components/schemas/Map_String'
      security:
      - apiKeyAuth: []
      X-Chili-Required-Permissions:
      - workspace.modify
    servers:
    - url: https://fire.chilipiper.com/api/fire-edge
      description: Production
components:
  schemas:
    SimpleMetadata:
      title: SimpleMetadata
      type: object
      required:
      - createdAt
      - createdBy
      - updatedAt
      - updatedBy
      - revision
      properties:
        createdAt:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/CallerRef'
        updatedAt:
          type: string
          format: date-time
        updatedBy:
          $ref: '#/components/schemas/CallerRef'
        revision:
          type: integer
          format: int32
    Map_String:
      title: Map_String
      type: object
      additionalProperties:
        type: string
    Workspace:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        emoji:
          type: string
        logo:
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    CallerRef:
      title: CallerRef
      description: stringified caller reference in format $type/$id
      examples:
      - user/17a3d4563d5a67a3d456ad635
      type: string
    PaginatedResult_Workspace:
      title: PaginatedResult_Workspace
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Workspace'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    WorkspaceId:
      title: WorkspaceId
      examples:
      - b7263a5d-89cb-4f50-a532-ea4aff74688e
      type: string
      pattern: '[^\s\\/]+'
    Workspace_2:
      title: Workspace
      type: object
      required:
      - id
      - name
      - metadata
      properties:
        id:
          $ref: '#/components/schemas/WorkspaceId'
          description: Unique identifier of the workspace.
        name:
          description: Human-readable workspace name.
          type: string
        emoji:
          description: Optional emoji shown as the workspace's icon.
          type: string
        logo:
          description: Optional URL of the workspace's logo image.
          type: string
        metadata:
          $ref: '#/components/schemas/SimpleMetadata'
    Tier:
      title: Tier
      type: string
      enum:
      - RoutingAndScheduling
      - Experiences
      - ChiliDataPlatform
    AddUsersToWorkspaceRequest:
      title: AddUsersToWorkspaceRequest
      type: object
      required:
      - workspaceId
      - userIds
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        userIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UserId'
    SalesforceUser:
      title: SalesforceUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: string
          pattern: '[^\s\\/]+'
    HubspotUser:
      title: HubspotUser
      type: object
      required:
      - email
      - id
      properties:
        email:
          $ref: '#/components/schemas/Email'
        id:
          type: integer
          format: int64
    User:
      title: User
      type: object
      required:
      - id
      - name
      - email
      - isSuperAdmin
      - licenses
      properties:
        id:
          $ref: '#/components/schemas/UserId'
        name:
          type: string
          minLength: 1
        email:
          $ref: '#/components/schemas/Email'
        isSuperAdmin:
          type: boolean
        managedWorkspaces:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        managedTeams:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        licenses:
          $ref: '#/components/schemas/UserLicenses'
        salesforce:
          $ref: '#/components/schemas/SalesforceUser'
        hubspot:
          $ref: '#/components/schemas/HubspotUser'
        slug:
          type: string
          pattern: '[-0-9a-z_]+'
        workspaces:
          type: array
          uniqueItems: true
          items:
            type: string
            pattern: '[^\s\\/]+'
        personalWorkspaceId:
          type: string
          pattern: '[^\s\\/]+'
    Email:
      title: Email
      examples:
      - john.doe@acme.com
      type: string
      pattern: .+@.+
    UserId:
      title: UserId
      examples:
      - 64ee0722-c7c6-4b48-bc89-356c99f1d25d
      type: string
      pattern: '[^\s\\/]+'
    UserLicenses:
      title: UserLicenses
      type: object
      required:
      - chiliCalOrg
      - handoff
      properties:
        distro:
          type: boolean
        chiliCalOrg:
          type: boolean
        concierge:
          type: boolean
        conciergeLive:
          type: boolean
        chat:
          type: boolean
        handoff:
          type: boolean
        tier:
          $ref: '#/components/schemas/Tier'
    PaginatedResult_User:
      title: PaginatedResult_User
      type: object
      required:
      - total
      - page
      - pageSize
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/User'
        total:
          type: integer
          format: int64
        page:
          type: integer
          format: int64
          minimum: 0
        pageSize:
          type: integer
          format: int64
          exclusiveMinimum: 0
    RemoveUserFromWorkspaceRequest:
      title: RemoveUserFromWorkspaceRequest
      type: object
      required:
      - workspaceId
      - userIds
      properties:
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        userIds:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/UserId'
    UserLicenses_2:
      title: UserLicenses
      type: object
      required:
      - distro
      - chiliCalOrg
      - concierge
      - conciergeLive
      - chat
      - handoff
      properties:
        distro:
          type: boolean
        chiliCalOrg:
          type: boolean
        concierge:
          type: boolean
        conciergeLive:
          type: boolean
        chat:
          type: boolean
        handoff:
          type: boolean
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      description: 'API key in Authorization header. Format: ''Authorization: Bearer <api-key>'' — the word ''Bearer'' followed by a space and the key is required. Sending the key without the Bearer prefix returns 401.'
      name: Authorization
      in: header
x-refined-from:
- chili-piper-chat-conversation-inspector-openapi.yaml
- chili-piper-concierge-debugger-openapi.yaml
- chili-piper-concierge-router-builder-openapi.yaml
- chili-piper-concierge-router-configuration-openapi.yaml
- chili-piper-distribution-analysis-openapi.yaml
- chili-piper-distro-debugger-openapi.yaml
- chili-piper-distro-router-configuration-openapi.yaml
- chili-piper-handoff-router-configuration-openapi.yaml
- chili-piper-meeting-inspector-openapi.yaml
- chili-piper-meeting-type-management-openapi.yaml
- chili-piper-no-show-analyzer-openapi.yaml
- chili-piper-routing-audit-openapi.yaml
- chili-piper-scheduling-link-management-openapi.yaml
- chili-piper-user-copy-openapi.yaml
- chili-piper-user-details-openapi.yaml
- chili-piper-user-offboarding-openapi.yaml
